<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>最新发布活动</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/activities.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/activities.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">最新发布活动</p>
				<p class="back"><a href="/积分商城页面/views/index/">返回</a></p>
			</header>
			<!--main-->
			<div id="main">
				<ul>
					<li>
						<p class="title">问卷调查【问卷主题】</p>
						<span>完成问卷可以获得相应积分</span>
						<a href="#">点击前往</a>
					</li>
					<li>
						<p class="title">积分抽奖【抽奖主题】</p>
						<span>用积分进行抽奖，可以获得积分奖励或实物奖励</span>
						<a href="#">点击前往</a>
					</li>
					<li>
						<p class="title">积分抽奖【抽奖主题】</p>
						<span>用积分进行抽奖，可以获得积分奖励或实物奖励</span>
						<a href="#">点击前往</a>
					</li>
				</ul>
			</div>
			
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
