<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运动的边框</title>
    <style>
        *{margin: 0;padding: 0;}

    </style>
    <script src="js/jquery.min.js"></script>
    <script src="js/myplugins.js"></script>
    <script>
        $(function(){
            $('div').borderCenter({
                enterColor:'#333',
                leaveColor:'green',
                enterTime:500,
                leaveTime:500,
                borderWidth:4,
                contentBg:'blue',
				width:$('div').width(),
				height:$('div').height()
            });
            $('p').borderCenter({
                enterColor:'red',
                leaveColor:'purple',
                enterTime:500,
                leaveTime:500,
                borderWidth:4,
				width:$('p').width(),
				height:$('p').height()
            });
            $('h2').borderCenter({
               
				width:$('h2').width(),
				height:$('h2').height()
            });
        });

    </script>
</head>
<body>
<div style="width: 300px;height: 400px;background: red;margin: 0 auto;">
</div>
<p style="width: 200px;height: 100px;background: yellow;margin: 10px 50px;"></p>
<h2 style="width: 100px;height: 100px;background: green"></h2>
</body>
</html>