<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>消息中心</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/news.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/news.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">消息中心</p>
				<p class="back"><a href="/积分商城页面/views/index/">返回</a></p>
			</header>
			<!--main-->
			<div id="main">
				<div class="news-content">
					<ul>
						<li class="unread">
							<span>商家发布的问卷调查活动即将到期，参加可领取800积分。</span>
							<time>2017.05.03</time>
						</li>
						<li class="unread">
							<span>商家发布了一个积分抽奖活动，点击查看详情</span>
							<time>2017.05.03</time>
						</li>
						<li class="read">
							<span>商家发布了一个调查问卷，填写可以获得一次抽奖机会并获取相应积分，点击查看详情商家发布了一个调查问卷。</span>
							<time>2017.05.03</time>
						</li>
						<li class="read">
							<span>您的【保温杯】已经发货，请注意查收。</span>
							<time>2017.05.03</time>
						</li>
					</ul>
				</div>
				
					
			</div>
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
