<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>积分查询</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/score.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/score.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">积分查询</p>
				<p class="back">返回</p>
			</header>
			<!--main-->
			<div id="main">
				<div class="score-my">
					<p class="title">你的积分余额</p>
					<p class="current"><time>9:30</time></p>
					<p class="score-all">88888<span>&nbsp;积分</span></p>
				</div>
				<div class="score-more">
					<a href="#">赚取更多积分</a>
				</div>
				<div class="score-exchange">
					<div class="exchange-title">我能兑换</div>
					<div class="exchange-content">
						<ul>
							<li class="first">
								<p class="img-wrap"><img src="../../image/score/score.png"/></p>
								<p class="title1">骨瓷咖啡杯 </p>							
								<p class="score">积分:<span>3500</span></p>
								<a href="#" class="link"></a>
							</li>
							<li class="first">
								<p class="img-wrap"><img src="../../image/score/score.png"/></p>
								<p class="title1">骨瓷咖啡杯 </p>							
								<p class="score">积分:<span>3500</span></p>
								<a href="#" class="link"></a>
							</li>
							<li class="first">
								<p class="img-wrap"><img src="../../image/score/score.png"/></p>
								<p class="title1">骨瓷咖啡杯 </p>							
								<p class="score">积分:<span>3500</span></p>
								<a href="#" class="link"></a>
							</li>
							<li class="first">
								<p class="img-wrap"><img src="../../image/score/score.png"/></p>
								<p class="title1">骨瓷咖啡杯 </p>							
								<p class="score">积分:<span>3500</span></p>
								<a href="#" class="link"></a>
							</li>
							<li class="first">
								<p class="img-wrap"><img src="../../image/score/score.png"/></p>
								<p class="title1">骨瓷咖啡杯 </p>							
								<p class="score">积分:<span>3500</span></p>
								<a href="#" class="link"></a>
							</li>
							<li class="first">
								<p class="img-wrap"><img src="../../image/score/score.png"/></p>
								<p class="title1">骨瓷咖啡杯 </p>							
								<p class="score">积分:<span>3500</span></p>
								<a href="#" class="link"></a>
							</li>
							<li class="first">
								<p class="img-wrap"><img src="../../image/score/score.png"/></p>
								<p class="title1">骨瓷咖啡杯 </p>							
								<p class="score">积分:<span>3500</span></p>
								<a href="#" class="link"></a>
							</li>
							<li class="first">
								<p class="img-wrap"><img src="../../image/score/score.png"/></p>
								<p class="title1">骨瓷咖啡杯 </p>							
								<p class="score">积分:<span>3500</span></p>
								<a href="#" class="link"></a>
							</li>
							<li class="first">
								<p class="img-wrap"><img src="../../image/score/score.png"/></p>
								<p class="title1">骨瓷咖啡杯 </p>							
								<p class="score">积分:<span>3500</span></p>
								<a href="#" class="link"></a>
							</li>
						</ul>
					</div>
				</div>
					
			</div>
			
			<!--footer-->
			<footer id="footer">
				<nav>
					<ul>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</nav>
			</footer>
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
