<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>朗域装饰公司</title>
</head>
<link href="image/langyu.css" rel="stylesheet" type="text/css">
<body>
     <div class="container">
	     <div class="header auto">
	           <div class="logo1">
			       <img src="image/logo.png" />
			   </div>
			   <div class="logo2">
			         <div class="share">
					     <p>
						    <table>
					        <tr>
						     <td class="p0"><span>+分享:</span></td>
						     <td>
						      <img src="image/share.png" usemap="#map">
                                   <map name="map">
								         <area shape="rect" coords="0,0,20,20" href="#">
										 <area shape="rect" coords="20,0,40,20" href="#">
										 <area shape="rect" coords="40,0,60,20" href="#">
										 <area shape="rect" coords="60,0,80,20" href="#">
										 <area shape="rect" coords="80,0,100,20" href="#">
										 <area shape="rect" coords="100,0,120,20" href="#">
								   </map>
						      </td>
						      </tr> 
					        </table>
						 </p>   
					  
					 </div>
					 <div class="tel">
					       <p class="p1"><a href="#"><img src="image/tel.png" /></a></p>
					 </div>
			   </div>
         </div>
		 <div class="clear"></div>
		 <div class="main auto">
		     <div class="nav">
			     <div class="navtop"></div>
				   <div class="navmid1">
			       <ul>
				         <li><a href="#">网站首页</a></li>
						 <li><a href="#">全景体验馆</a></li>
						 <li><a href="#">品案例</a></li>
						 <li><a href="#">看施工</a></li>
						 <li><a href="#">享服务</a></li>
						 <li><a href="#">关于我们</a></li>
				   </ul> 
				   <img src="image/530c4d1974f6f.jpg" />
				  </div> 
				  <div class="navbtn">
                 </div>
			 </div>
		     <div class="case">
			      <div class="caseTitle">
				        <a href="#"><img src="image/more.png" /></a>
				  </div>
				  <div class="caseContent">
				        <div class="box">
						    <a href="#"><img src="image/51f759ab474bb.jpg" /></a>
							<p>27.6万打造中式风格</p>
						</div>
						<div class="box">
						    <a href="#"><img src="image/51f759ab474bb.jpg" /></a>
							<p>27.6万打造中式风格</p>
						</div>
						<div class="box">
						    <a href="#"><img src="image/51f759ab474bb.jpg" /></a>
							<p>27.6万打造中式风格</p>
						</div>
						<div class="box">
						    <a href="#"><img src="image/51f759ab474bb.jpg" /></a>
							<p>27.6万打造中式风格</p>
						</div>
						<div class="box">
						    <a href="#"><img src="image/51f759ab474bb.jpg" /></a>
							<p>27.6万打造中式风格</p>
						</div>
						<div class="box">
						    <a href="#"><img src="image/51f759ab474bb.jpg" /></a>
							<p>27.6万打造中式风格</p>
						</div>
				  </div>
             </div>
		     <div class="show">
			       <div class="showTitle">
				        <a href="#"><img src="image/more.png" /></a>
				  </div>
				  <div class="showContent">
				        <div class="showlf">
						    <a href="#"><img src="image/5147bf8d87329.jpg" /></a>
						</div>
						<div class="showrg">
						      <div class="rbox">
							      <a href="#"><img src="image/51468b90b68db.jpg" /></a>
							  </div>
							  <div class="rbox">
							      <a href="#"><img src="image/51468b90b68db.jpg" /></a>
							  </div>
							  <div class="rbox">
							      <a href="#"><img src="image/51468b90b68db.jpg" /></a>
							  </div>
							  <div class="rbox">
							      <a href="#"><img src="image/51468b90b68db.jpg" /></a>
							  </div>
							  <div class="rbox">
							      <a href="#"><img src="image/51468b90b68db.jpg" /></a>
							  </div>
							  <div class="rbox">
							      <a href="#"><img src="image/51468b90b68db.jpg" /></a>
							  </div>
						</div>
				  </div>
             </div>
			 <div class="knowledge">
			       <div class="kleft">
				         <div class="ktitle">
						     <div class="kbox">
						     <img src="image/index_zhidao_title.png" />
							 </div>
						     <a href="#"><img src="image/more.png" /></a>
				         </div>
						 <div class="kcontent">
						     <div class="riji">
						       <ul>
							       <li><p>【<span>装修日记</span>】现代混搭·设计控的装修日记</p>
								   </li> 
								   <li><p>【<span>装修日记</span>】两房现代风格成长记 经济型装修 ...</p>
								   </li>
								   <li><p>【<span>装修日记</span>】9o后猫小苗的现代简约 小窝装修...</p>
								   </li>
								   <li><p>【<span>装修日记</span>】买房苦装修更是一场持久战</p>
								   </li>
								   <li><p>【<span>装修日记</span>】看完木木写的装修日记·相信你也...</p>
								   </li>
								   <li><p>【<span>装修日记</span>】朗域装饰： 交房啦</p>
								   </li>
								   <li><p>【<span>装修日记</span>】朗域装饰： 小窝 开工啦</p>
								   </li>
								   <li><p>【<span>装修日记</span>】朗域装饰：黄山新苑开工前</p>
								   </li>
							   </ul>
							 </div>  
							 <div class="zhishi">
							   <ul>
							       <li><p>【<span>装修知识</span>】如何选择木材板材及注意事项</p>
								   </li> 
								   <li><p>【<span>装修知识</span>】如何选购装饰板的方法和注意事项</p>
								   </li>
								   <li><p>【<span>装修知识</span>】正确的认识和了解人造板材</p>
								   </li>
								   <li><p>【<span>装修知识</span>】家庭装修木质板材的选择</p>
								   </li>
								   <li><p>【<span>装修知识</span>】消费者如何正确的选择乳胶漆</p>
								   </li>
								   <li><p>【<span>装修知识</span>】家庭装修装饰材料和涂料的选择</p>
								   </li>
								   <li><p>【<span>装修知识</span>】上海家庭装饰之绿色建树</p>
								   </li>
								   <li><p>【<span>装修知识</span>】上海装修公司 家装浴室不可忽视</p>
								   </li>
							   </ul>
							 </div>
				         </div>
				   </div>
				   <div class="kright">
				         <div class="nbox">
						     <img src="image/index_cg_title.png" />
						 </div>
						 <div class="ncontent">
							   <ul>
							       <li><p>朗域装饰2014中国年装修综合博览会完美...</p>
								   </li> 
								   <li><p>新年新气象，锦旗飘扬朗域之光</p>
								   </li>
								   <li><p>提高自身专业素养，争做优秀朗域人</p>
								   </li>
								   <li><p>2014，我们一起装修吧！</p>
								   </li>
								   <li><p>上海朗域装饰携手并进共创美好明天</p>
								   </li>
								   <li><p>您的满意，我的荣誉</p>
								   </li>
								   <li><p>你们的肯定，我们的信心</p>
								   </li>
								   <li><p>第五届实景装修咨询会</p>
								   </li>
							   </ul>
							 </div>
				   </div>
             </div>
			 <div class="link">
			       <div class="navtop"></div>
				   <div class="navmid2">
			             <p><span>友链链接</span>：上海好的装修公司上海装饰设计公司闸北装潢公司统帅装饰上海装修设计公司</p>
				  </div> 
				  <div class="navbtn">
             </div>
         </div>
	</div> 
	     <div class="footer">
		       <div class="btm auto">
			         <div class="btmlogo">
					     <p><img src="image/logo.png" /></p>
						 <p><span>Copyright@2014</span> 沪ICP备06018196号 </p>
					 </div>
					 <div class="btmnav1">
					       <p class="p0"><a href="#">全景体验馆</a></p>
						   <p><span><a href="#">全景体验馆</a></span></p>
					 </div>
					 <div class="btmnav2">
					       <p class="p0"><a href="#">品案例</a></p>
						   <p><span><a href="#">现代简约</a></span></p>
						   <p><span><a href="#">欧式</a></span></p>
						   <p><span><a href="#">混搭</a></span></p>
						   <p><span><a href="#">新古典</a></span></p>
					 </div>
					 <div class="btmnav3">
					       <p class="p0"><a href="#">看施工</a></p>
						   <p><span><a href="#">施工体系</a></span></p>
						   <p><span><a href="#">合作材料</a></span></p>
						   <p><span><a href="#">装修知识</a></span></p>
						   <p><span><a href="#">装修日记</a></span></p>
					 </div>
					 <div class="btmnav4">
					       <p class="p0"><a href="#">享服务</a></p>
						   <p><span><a href="#">服务流程</a></span></p>
						   <p><span><a href="#">售后服务</a></span></p>
						   <p><span><a href="#">常见问题</a></span></p>
						   <p><span><a href="#">客户感言</a></span></p>
					 </div>
					 <div class="btmnav5">
					       <p class="p0"><a href="#">关于我们</a></p>
						   <p><span><a href="#">公司介绍</a></span></p>
						   <p><span><a href="#">最新活动</a></span></p>
						   <p><span><a href="#">团装小区</a></span></p>
						   <p><span><a href="#">联系我们</a></span></p>
					 </div>
			   </div>
	     </div>
		 <div class="clear"></div>
		 <div class="bottom_float">
		 </div>
	</div>
</body>
</html>