<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>积分商城首页</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/style.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title"><span>香飘飘</span>积分商城</p>
				<p class="tips dropdown" data-toggle='modal' data-target='#myModal' >
					<span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">... <i></i></span>
					<!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li style="border-bottom: 1px solid #ddd;" role="presentation" data-toggle='modal' data-target='#myModal'>
							<a role="menuitem" tabindex="-1" href="#">关注我们的公众号</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#">消息信息<span></span></a>
						</li>
					</ul>-->
				</p>
				<!--modal-->
				<!--<div class="modal fade" id="myModal" tabindex="-10" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" >
						<div class="modal-content" >
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" 
										aria-hidden="true">×
								</button>
								
							</div>
							<div class="modal-body">
								<img src="../../image/index/首页切图_05.png" alt="" />
							</div>
							<div class="modal-footer">
								公众号名称
							</div>
						</div>
					</div>
				</div>-->
				<!--modal end-->
			</header>
			<!--main-->
			<div id="main">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide"><a href="/积分商城页面/views/details/"><img src="../../image/index/banner.png"/></a></div>
				        <div class="swiper-slide"><a href="/积分商城页面/views/details/"><img src="../../image/index/banner.png"/></a></div>
				        <div class="swiper-slide"><a href="/积分商城页面/views/details/"><img src="../../image/index/banner.png"/></a></div>
				    </div>
				</div>
				<div class="shortcut_btn">
					<ul>
						<li><a href="/积分商城页面/views/hot/"></a></li>						
						<li><a href="#"></a></li>						
						<li><a href="/积分商城页面/views/earn/"></a></li>
					</ul>
				</div>
				<div class="recommend">
					<div class="header clearfix">
						<span class="title">精品推荐</span>
						<a href="/积分商城页面/views/hot/">更多</a>
					</div>
					<div class="recommend-content clearfix">
						<div class="first">
							<p class="img-wrap"><img src="../../image/index/首页－完整_03.png"/></p>
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分:<span>50000</span></p>
							<a href="/积分商城页面/views/details/" class="link"></a>
						</div>
						<div class="second">
							<p class="img-wrap"><img src="../../image/index/首页－完整_00.png"/></p>
							<p class="title">香飘飘 椰果奶茶3盒装</p>
							<p class="score">积分:<span>25000</span></p>
							<a href="/积分商城页面/views/details/" class="link"></a>
						</div>
						<div class="third">
							<p class="img-wrap"><img src="../../image/index/首页－完整_00.png"/></p>
							<p class="title">香飘飘早餐杯(经典黑白配)</p>
							<p class="score">积分:<span>50000</span></p>
							<a href="/积分商城页面/views/details/" class="link"></a>
						</div>
					</div>
					
				</div>
				<div class="product-new">
					<div class="header clearfix">
						<span class="title">新品上架</span>
						<a href="/积分商城页面/views/hot/">更多</a>
					</div>
					<ul class="product-new-content clearfix">
						<li class="first">
							<p class="img-wrap"><img src="../../image/index/首页－完整_03.png"/></p>
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分:<span>50000</span></p>
							<a href="/积分商城页面/views/details/" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/index/首页－完整_03.png"/></p>
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分:<span>50000</span></p>
							<a href="/积分商城页面/views/details/" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/index/首页－完整_03.png"/></p>
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分:<span>50000</span></p>
							<a href="/积分商城页面/views/details/" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/index/首页－完整_03.png"/></p>
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分:<span>50000</span></p>
							<a href="/积分商城页面/views/details/" class="link"></a>
						</li>
					</ul>
					
				</div>
				<div class="guess-like">
					<div class="header clearfix">
						<span class="title">猜你喜欢</span>
						<a href="/积分商城页面/views/hot/">更多</a>
					</div>
					<ul class="guess-like-content">
						<li class="first">
							<p class="img-wrap"><img src="../../image/index/首页－完整_03.png"/></p>
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分:<span>50000</span></p>
							<a href="/积分商城页面/views/details/" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/index/首页－完整_03.png"/></p>
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分:<span>50000</span></p>
							<a href="/积分商城页面/views/details/" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/index/首页－完整_03.png"/></p>
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分:<span>50000</span></p>
							<a href="/积分商城页面/views/details/" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/index/首页－完整_03.png"/></p>
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分:<span>50000</span></p>
							<a href="/积分商城页面/views/details/" class="link"></a>
						</li>
					</ul>
					
				</div>				
			</div>
			
			<!--footer-->
			<footer id="footer">
				<nav>
					<ul>
						<li class="active"><a href="/积分商城页面/views/index/" class="home-icon"></a></li>
						<li><a href="/积分商城页面/views/cart/" class="cart-icon"></a></li>
						<li><a href="/积分商城页面/views/collect/" class="collect-icon"></a></li>
						<li><a href="/积分商城页面/views/user/" class="user-icon"></a></li>
					</ul>
				</nav>
			</footer>
		</div>
		
		
		<script src="/积分商城页面/lib/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
