<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>结算</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/settlement.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/settlement.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">结算</p>
				<p class="back">返回</p>
			</header>
			<!--main-->
			<div id="main">
				<div class="user-info">
					<div class="user-info-content">
						<a href="#"></a>
						<p>
							<span class="name">张三</span>
							<span class="mobile"><em>1500****1213</em></span>
							<a class="state" href="#">默认</a>
							<span class="address">上海长宁区渔北路1212号603</span>
							
						</p>
						
					</div>
					<div class="user-info-bg">
						
					</div>
				</div>
				<ul class="lists clearfix">
					<li class="first">
						<p class="img-wrap"><img src="../../image/settlement/settlement.png"/></p>
						<p class="title">香飘飘奶茶 红豆30杯装 整箱 </p>
						<p class="count">购买数量：<span>1</span>&nbsp;箱</p>
						<p class="score">积分:<span>50000</span></p>
						<a href="#" class="link"></a>
					</li>
					
				</ul>
				<div class="carry">
					<p class="carry-style">配送方式</p>
					<p class="carry-list">顺丰包邮</p>
				</div>
				<div class="settlement-carry-popover">
					<div class="settlement-carry-mask">
						
					</div>
					<div class="settlement-carry-popover">
						<p class="title">您是否确定支付相应积分来完成本次交易 ？</p>
						<p class="quantity">购买商品数量： <span>1</span>件</p>
						<p class="score-total">总积分： <span>5000</span>分</p>
						<p class="score-discount">会员折扣： 享受<span>10</span>%优惠</p>
						<p class="score-current">应付积分：<span>4920</span>分</p>
						<p class="blank"></p>
						<p class="pay"><button class="ok">确认支付</button><button class="cancel">取消支付</button></p>
					</div>
				</div>
			</div>
			<div id="footer">
				<p class="total">实付：<span class="total-num">50000</span>&nbsp;<span>积分</span></p>
				<p class="pay">确认支付</p>
			</div>
			
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
