<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>结算</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/settlement.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/settlement.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">结算</p>
				<p class="back"><a href="javascript:window.history.go(-1);">返回</a></p>
			</header>
			<!--main-->
			<div id="main">
				<div class="user-info">
					<div class="user-info-content">
						<a href="javascript:;"></a>
						<p>
							<span class="name">张三</span>
							<span class="mobile"><em>1500****1213</em></span>
							<a class="state" href="#">默认</a>
							<span class="address">上海长宁区渔北路1212号603</span>
							
						</p>
						
					</div>
					<div class="user-info-bg">
						
					</div>
					<a href="javascript:;" class="link btn-address"></a>
				</div>
				<ul class="lists clearfix">
					<li class="first">
						<p class="img-wrap"><img src="../../image/settlement/settlement.png"/></p>
						<p class="title">香飘飘奶茶 红豆30杯装 整箱 </p>
						<p class="count">购买数量：<span>1</span>&nbsp;箱</p>
						<p class="score">积分:<span>50000</span></p>
						<a href="/积分商城页面/views/details/" class="link"></a>
					</li>
					
				</ul>
				<div class="carry">
					<p class="carry-style">配送方式</p>
					<p class="carry-list">顺丰包邮</p>
				</div>
				<div class="settlement-carry-popover">
					<div class="settlement-carry-mask">
						
					</div>
					<div class="settlement-carry-popover-content">
						<p class="title">您是否确定支付相应积分来完成本次交易 ？</p>
						<p class="quantity">购买商品数量： <span>1</span>件</p>
						<p class="score-total">总积分： <span>5000</span>分</p>
						<p class="score-discount">会员折扣： 享受<span>10</span>%优惠</p>
						<p class="score-current">应付积分：<span>4920</span>分</p>
						<p class="blank"></p>
						<p class="pay"><button class="ok"><a href="/积分商城页面/views/settlement/settlement-success.html">确认支付</a></button><button class="cancel">取消支付</button></p>
					</div>
				</div>
				<!--填写地址-->
				<div class="address-fill">
					<p class="title">配送至<span class="close">X</span></p>
					<ul class="clearfix">
						<li>
							<p class="p0"><i>张彩霞</i> <span class="mobile">1370****1213</span></p>
							<p class="p1">北京市顺义区李桥镇馨港庄园3幢3号楼5层501室</p>
						</li>	
						<li>
							<p class="p0"><i>张三</i><span class="mobile">1500****1213</span></p>
							<p class="p1">路1212号60上海长宁区渔北路1212号路1212号60603渔北03路1212号60</p>
						</li>	
						<li>
							<p class="p0"><i>张彩霞</i> <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔北03路1212号60路1212号60路1212号60路1212号60路1212号60</p>
						</li>	
						<li>
							<p class="p0"><i>张彩霞</i> <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔北03路1212号60路1212号60路1212号60路1212号60路1212号60</p>
						</li>	
						<li>
							<p class="p0"><i>张彩霞</i> <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔路1212号60路1212号60路1212号60路1212号6003</p>
						</li>	
						<li>
							<p class="p0"><i>张彩霞</i> <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔路1212号60路1212号60路1212号60路1212号6003</p>
						</li>
						<li>
							<p class="p0"><i>张彩霞</i> <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔路1212号60路1212号60路1212号60路1212号6003</p>
						</li>
						<li>
							<p class="p0"><i>张彩霞</i> <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔路1212号60路1212号60路1212号60路1212号6003</p>
						</li>
					</ul>
					<div class="create-address">
						<a href="/积分商城页面/views/user/address/create.html">新建地址</a>
					</div>
				</div>
				<!--填写地址end-->
			</div>
			<div id="footer">
				<p class="total">实付：<span class="total-num">50000</span>&nbsp;<span>积分</span></p>
				<p class="pay">确认支付</p>
			</div>
			
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/preLoad.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				//商品详情页点击填写地址
//				<div class="user-info-content">
//						<a href="javascript:;"></a>
//						<p>
//							<span class="name">张三</span>
//							<span class="mobile"><em>1500****1213</em></span>
//							<a class="state" href="#">默认</a>
//							<span class="address">上海长宁区渔北路1212号603</span>
//							
//						</p>
//						
//					</div>
//						<li>
//							<p class="p0">张三 <span class="mobile">1500****1213</span></p>
//							<p class="p1">上海长宁区渔北路1212号603渔路1212号60路1212号60路1212号60路1212号6003</p>
//						</li>
				$('.btn-address').on('click',function(){
					$('.address-fill').animate({
						bottom:0
					},500);
					$('.address-fill ul li').on('click',function(){
//						console.log($(this).find('.p0').text())
						$('.user-info-content p .name').text($(this).find('.p0 i').text());
						$('.user-info-content p .mobile').text($(this).find('.p0 .mobile').text());
						$('.user-info-content p .address').text($(this).find('.p1').text());
						$('.address-fill').animate({
							bottom:'-10rem'
						},200);
					});
					$('.address-fill .close').on('click',function(){
						$('.address-fill').animate({
							bottom:'-10rem'
						},200);
					});
				});
			});
		</script>
	</body>
</html>
