<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>结算中心</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/settlement-center.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/settlement-center.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">结算中心</p>
				<p class="back"><a href="/积分商城页面/views/index/">返回</a></p>
				<p class="my-order"><a href="#">我的订单</a></p>
			</header>
			<!--main-->
			<div id="main">
				<div class="settlement-down-tips">
					对不起，您购买的XXX商品已下架，交易取消
				</div>
				<div class="guess-like">
					<div class="guess-like-title">
						猜你喜欢
					</div>
					<ul class="guess-like-content clearfix">
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
					</ul>
				</div>
			</div>
			
			
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
