<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>结算中心</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/settlement-cancel.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/settlement-cancel.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">结算中心</p>
				<p class="back"><a href="/积分商城页面/views/index/">返回</a></p>
				<p class="my-order"><a href="#">我的订单</a></p>
			</header>
			<!--main-->
			<div id="main">
				<div class="settlement-cancel-tips">
					对不起，您的余额不足，交易取消
				</div>
				<div class="earn-title">
					如何赚取积分
				</div>
				<ul class="clearfix">
					<li>
						<p>您可以通过扫描我们的商品上的二维码获取积分</p>
						<a href="#">点击查看我们的商品</a>
					</li>
					<li>
						<p>您可以通过完成一些任务来获取相应积分</p>
						<a href="#">点击前往任务中心</a>
					</li>
					<li>
						<p>您可以通过商家发布的一些活动来获取相应积分</p>
						<a href="#">点击查看最近的活动</a>
					</li>
				</ul>
				
			</div>
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
