<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>用户中心</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/user.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/user.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">用户中心</p>
				<p class="back">返回</p>
			</header>
			<!--main-->
			<div id="main">
				<div class="user-info">
					<div class="wrap_ptimg update_img">
						<input type="file" id="upload-file" />
						
					</div>
					<p class="upload"><span>上传头像</span></p>
					<p class="user-name">用户名：<span>15000121314</span></p>
					<p class="user-grade">会员等级</p>
				</div>
				<div class="user-address">
					<div class="title">
						<p>收货地址管理</p>
						<a href="#">查看更多</a>
					</div>
					<div class="user-address-detail">
						<p class="p0">张三 <span class="mobile">1500****1213</span><span class="state">默认</span></p>
						<p class="p1">上海长宁区渔北路1212号603<span></span></p>
						<a href="#"></a>
					</div>
					<div class="user-address-add">
						
						<a href="#">新建地址</a>
					</div>
				</div>
				<div class="user-order">
					<div class="user-order-title">我的订单 <a href="#">查看更多</a></div>
					<div class="user-order-content">
						<div class="user-order-detail">
							<time>2017-3-13</time><span>&nbsp;订单号：<em>3132276214333806 </em></span><span class="order-state">等待发货</span>
						</div>
						<div class="user-order-list">
							<ul>
								<li>
									<div class="img-wrap">
										<img src="../../image/我的订单页面_03.png"/>
									</div>
									<div class="img-detail">
										香飘飘 巧克力口味30杯礼盒装
									</div>
									<div class="score">
										积分:<span>50000</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="user-order-total">
							<p class="goods">共<span>1</span>件商品</p>
							<p class="score">实付积分<span>50000</span></p>
							<p class="detail"><a href="#">订单详情</a><a href="#">查看物流</a></p>
						</div>
					</div>
				</div>
				<div class="user-activities">
					<div class="user-activities-title">
						活动中心
					</div>
					<div class="user-activities-content">
						<ul>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
					</div>
				</div>
				<!--<div class="user-account">
					<div class="user-account-title">
						账号安全
					</div>
					<div class="user-account-mobile">
						手机绑定<span>150****2323</span><a href="#" class="mobile-edit"></a>
					</div>
					<div class="user-account-info">
						个人信息<a href="#" class="info-edit"></a>
					</div>
				</div>-->
				
					
			</div>
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
