<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>新建收货地址</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/address-create.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/address-create.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix" style="height: 12.8rem;">
			<!--首页标题-->
			<header id="header">
				<p class="title">新建收货地址</p>
				<p class="back"><a href="#" onclick="window.history.go(-1)">返回</a></p>
			</header>
			<!--main-->
			<div id="main">
				<form action="" method="post">
					<ul>
						<li>收件人姓名：<input type="text" /></li>
						<li style="position: relative;left: 0;top: 0;">
						所在地区：<input type="text" name="" id="expressArea" class="area_input" value="" readonly="readonly">
							<div id="areaWrap" style="position: absolute;left: 0;/*top: 1.18rem;*/top: 12.8rem;width: 100%;height: auto;min-height:8rem;background: #ccc;z-index: 10;-overflow: scroll;">
								<section id="areaLayer" class="express-area-box" style="width: 100%;8rem;overflow: hidden;position: absolute;left: 0;top: 0;">
						            <header>
						                <h3 style="box-sizing: border-box;position: absolute;left: 0;top: 0rem;z-index:2;width:100%;height: 1.18rem;padding-left: 0.48rem; background: #ccc;">选择地区</h3>
						                <a id="closeArea" class="close" href="javascript:void(0)" title="关闭" style="position: absolute;right: 0;top: 0rem;z-index:3;margin-right:0.3rem;background: url(../../../image/img/close-area.png) center center no-repeat;background-size: 0.15rem 0.27rem;"></a>
						            </header>
						            <article id="areaBox" style="padding-top: 1.18rem;">
						                <ul id="areaList" class="area-list" style="overflow: scroll;height: 7rem;"></ul>
						            </article>
						        </section>
						        <div id="areaMask" class="mask"></div>
							</div>
						</li>
						<li>详细地址：<input type="text" /></li>
						<li>邮政编码：<input type="text" /></li>
						<li>联系方式：<input type="text" /></li>
						<li>设为默认地址 <a href="javascript:;"><span class="switch"></span><i class="switch1"></i></a></li>
					</ul>
					
					<input class="address-save" type="submit" value="保存并使用"/>
				</form>
				
			</div>
			
			
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/areaPicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/preLoad.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
