<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>用户中心</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/address-create.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/address-create.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">新建收货地址</p>
				<p class="back">返回</p>
			</header>
			<!--main-->
			<div id="main">
				<form action="" method="post">
					<ul>
						<li>收件人姓名：<input type="text" /></li>
						<li>所在地区：<input type="text" /></li>
						<li>详细地址：<input type="text" /></li>
						<li>邮政编码：<input type="text" /></li>
						<li>联系方式：<input type="text" /></li>
						<li>设为默认地址 <a href="javascript:;"><span class="switch"></span><i class="switch1"></i></a></li>
					</ul>
					
					<input class="address-save" type="submit" value="保存并使用"/>
				</form>
				
			</div>
			
			
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
