<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>用户中心</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/address.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/address.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">编辑收获地址</p>
				<p class="back">返回</p>
				<p class="tips"></p>
			</header>
			<!--main-->
			<div id="main">
				<ul>
					<li>收件人姓名：<span>张三</span></li>
					<li>所在地区：<span>上海市徐汇区</span></li>
					<li>详细地址：<span>徐汇区123街坊人民路223号</span></li>
					<li>邮政编码：<span>222222</span></li>
					<li>联系方式：<span>150****1213</span></li>
					<li>设为默认地址 <a href="javascript:;"><span class="switch"></span><i class="switch1"></i></a></li>
				</ul>
				<a class="address-save" href="javascript:;">保存并使用</a>
			</div>
			
			
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
