<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>收货地址管理</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/manage.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/manage.css" />
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">收获地址管理</p>
				<p class="back"><a href="javascript:window.history.go(-1);">返回</a></p>
			</header>
			<!--main-->
			<div id="main">
				<ul class="address-manage clearfix">
					<li class="address-manage-list clearfix">
						<p class="p0">张三 <span class="mobile">1500****1213</span><span class="state active">默认</span></p>
						<p class="p1">上海长宁区渔北路1212号6区渔北路1212号6区渔北路1212号6区渔北路1212号6区渔北路1212号6区渔北路1212号6区渔北路1212号603<span></span></p>
						<a href="javascript:;" class="remove"></a>
						<a href="/积分商城页面/views/user/address/"></a>
					</li>
					<li class="address-manage-list">
						<p class="p0">张三 <span class="mobile">1500****1213</span><span class="state">默认</span></p>
						<p class="p1">上海长宁区渔北路1212号603<span></span></p>
						<a href="javascript:;" class="remove"></a>
						<a href="/积分商城页面/views/user/address/"></a>
					</li>
					<li class="address-manage-list">
						<p class="p0">张三 <span class="mobile">1500****1213</span><span class="state">默认</span></p>
						<p class="p1">上海长宁区渔北路1212号603<span></span></p>
						<a href="javascript:;" class="remove"></a>
						<a href="/积分商城页面/views/user/address/"></a>
					</li>
					<li class="address-manage-list">
						<p class="p0">张三 <span class="mobile">1500****1213</span><span class="state">默认</span></p>
						<p class="p1">上海长宁区渔北路1212号603<span></span></p>
						<a href="javascript:;" class="remove"></a>
						<a href="/积分商城页面/views/user/address/"></a>
					</li>
				</ul>
				<div class="address-add">
					<a href="/积分商城页面/views/user/address/create.html">新建地址</a>
				</div>
			</div>
			
			
			
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/preLoad.js" type="text/javascript" charset="utf-8"></script>
		
		
	</body>
</html>
