<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>个人资料</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="../../../css/personal.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/personal.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">个人资料</p>
				<p class="back"><a href="javascript:window.history.go(-1);">返回</a></p>
			</header>
			<!--main-->
			<div id="main">
				<div class="info">
					<div class="name">
						<p>昵称</p>
						<a href="/积分商城页面/views/earn/personal/change_name/">&gt;</a>
						<span><a href="/积分商城页面/views/earn/personal/change_name/">保密</a></span>
						
					</div>
					<div class="sex">
						<p>性别</p>
						<a href="/积分商城页面/views/earn/personal/change_sex">&gt;</a>
						<span><a href="/积分商城页面/views/earn/personal/change_sex/">保密</a></span>
					</div>
					<div class="age">
						<p>年龄段</p>
						<a href="/积分商城页面/views/earn/personal/change_age/">&gt;</a>
						<span><a href="/积分商城页面/views/earn/personal/change_age/">20岁-30岁</a></span>
					</div>
				</div>
				<div class="like clearfix">
					<p>喜欢的产品</p>
					<ul class="clearfix">
						<li class="active">手机数码
							<p><input type="checkbox" checked="checked" id="checkbox-1"><label for="checkbox-1">✔</label></p>
						</li>
						<li>手机数码
							<p><input type="checkbox" id="checkbox-2"><label for="checkbox-2">✔</label></p>
						</li>
						<li>手机数码
							<p><input type="checkbox" id="checkbox-3"><label for="checkbox-3">✔</label></p>
						</li>
						<li>手机数码
							<p><input type="checkbox" id="checkbox-4"><label for="checkbox-4">✔</label></p>
						</li>
						<li>手机数码
							<p><input type="checkbox" id="checkbox-5"><label for="checkbox-5">✔</label></p>
						</li>
						<li>手机数码
							<p><input type="checkbox" id="checkbox-6"><label for="checkbox-6">✔</label></p>
						</li>
						<li>手机数码
							<p><input type="checkbox" id="checkbox-7"><label for="checkbox-7">✔</label></p>
						</li>
						<li>手机数码
							<p><input type="checkbox" id="checkbox-8"><label for="checkbox-8">✔</label></p>
						</li>
						<li>手机数码
							<p><input type="checkbox" id="checkbox-9"><label for="checkbox-9">✔</label></p>
						</li>
						<li>手机数码
							<p><input type="checkbox" id="checkbox-10"><label for="checkbox-10">✔</label></p>
						</li>
						<li>手机数码
							<p><input type="checkbox" id="checkbox-11"><label for="checkbox-11">✔</label></p>
						</li>
						<li>手机数码
							<p><input type="checkbox" id="checkbox-12"><label for="checkbox-12">✔</label></p>
						</li>
						
						
						
					</ul>
				</div>
				<!--<div class="info-tips">
					*信息填写越完整可以获得的推送越精确，获得的奖励越丰厚
				</div>-->
				<!--<div class="info-submit">
					<input type="button" class="save" value="保存修改" />
					<input type="button" class="cancel" value="取消修改" />
				</div>-->
				
			</div>
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/preLoad.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				$('.like ul li').each(function(i){
					$('.like ul li').eq(i).on('click',function(){
						if($(this).attr('class')!=='active'){
							$(this).addClass('active');
							$(this).find('input').attr('checked','checked');
						}else{
							$(this).removeAttr('class');
							$(this).find('input').removeAttr('checked');
						}
					});
				});
			});
		</script>
	</body>
</html>
