<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>个人资料</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="../../../css/personal.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/personal.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">个人资料</p>
				<p class="back"><a href="/积分商城页面/views/index/">返回</a></p>
			</header>
			<!--main-->
			<div id="main">
				<div class="info">
					<div class="name">
						<p>昵称</p>
						<a href="#">&gt;</a>
						<span>保密</span>
					</div>
					<div class="sex">
						<p>性别</p>
						<a href="#">&gt;</a>
						<span>保密</span>
					</div>
					<div class="age">
						<p>年龄段</p>
						<a href="#">&gt;</a>
						<span>20岁-30岁</span>
					</div>
				</div>
				<div class="like clearfix">
					<p>喜欢的产品</p>
					<ul class="clearfix">
						<li class="active">手机数码
							<a href="#"></a>
							<p><input type="checkbox" checked="checked" id="checkbox-1"><label for="checkbox-1">✔</label></p>
						</li>
						<li>手机数码</li>
						<li class="active">
							<a href="#"></a>
							<p><input type="checkbox" checked="checked" id="checkbox-2"><label for="checkbox-2">✔</label></p>
							手机数码
						</li>
						<li>手机数码</li>
						<li class="active">
							<a href="#"></a>
							<p><input type="checkbox" checked="checked" id="checkbox-3"><label for="checkbox-3">✔</label></p>
							手机数码
						</li>
						<li>手机数码</li>
						<li>手机数码</li>
						<li>手机数码</li>
						<li>手机数码</li>
						<li>手机数码</li>
						<li>手机数码</li>
						<li>手机数码</li>
					</ul>
				</div>
				<div class="info-tips">
					*信息填写越完整可以获得的推送越精确，获得的奖励越丰厚
				</div>
				<div class="info-submit">
					<input type="button" class="save" value="保存修改" />
					<input type="button" class="cancel" value="取消修改" />
				</div>
				
			</div>
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
