div.tips-content {
  position: absolute;
  right: -3rem;
  top: 0.96rem;
  z-index: 5;
  width: 3rem;
  height: 1rem;
  background: #fff;
}
div.tips-content ul {
  width: 3rem;
  height: 1rem;
  border: 1px solid #ccc;
}
div.tips-content ul li {
  width: 100%;
  height: 0.5rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.2rem;
}
div.tips-content ul li a{
	display: inline-block;
	width: 100%;height: 100%;
	color: #000000;
	text-decoration: none;
}
div.tips-content ul li a span {
  display: inline-block;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background: orange;
  vertical-align: text-top;
}
div.tips-content-mask{
display: none;
position: fixed;left: 0;top: 0;width:100%;height: 12.8rem;background: #fff;opacity: 0;z-index: -1;
}
.div-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0.92rem;
  width: 100%;
  height: 100%;
  z-index: 1024;
  overflow: hidden;
}
.div-modal .div-modal-mask {
  width: 100%;
  height: 100%;
  z-index: 1024;
  background: #000000;
  opacity: .8;
}
.div-modal .div-modal-content {
  display: none;
  width: 3rem;
  height: 3.5rem;
  background: #ccc;
  margin-top: 4rem;
  padding-top: 0.3rem;
  z-index: 1025;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -1.5rem;
  border-radius: 0.1rem;
  overflow: hidden;
}
.div-modal .div-modal-content .div-modal-content-header {
  width: 100%;
  height: 0.5rem;
  text-align: right;
  padding: 0.1rem;
  line-height: 0.3rem;
  display: none;
}
.div-modal .div-modal-content .div-modal-content-header button {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  font-size: 0.2rem;
}
.div-modal .div-modal-content .div-modal-content-body {
  width: 100$;
  height: auto;
  text-align: center;
}
.div-modal .div-modal-content .div-modal-content-body img {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.2rem;
  background: #ccc;
}
.div-modal .div-modal-content .div-modal-content-footer {
  width: 100%;
  height: 0.5rem;
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.5rem;
}