html {
  font-family: "微软雅黑";
}
.color1 {
  background: #122B40;
}
.color2 {
  background: #D0E9C6;
}
.color3 {
  background: #AFD9EE;
}
.color4 {
  background: #D43F3A;
}
.color5 {
  background: #ADADAD;
}
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
div {
  box-sizing: border-box;
}
.container-index {
  width: 100%;
  height: auto;
  min-height: 12.8rem;
  background: #fff;
  padding-top: 0.96rem;
  padding-bottom: 0.96rem;
}
.container-index header#header {
  width: 100%;
  height: 0.96rem;
  background: #ed5253;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
}
.container-index header#header p {
  width: 100%;
  height: 100%;
  font-size: 0.27rem;
  font-family: "微软雅黑";
  line-height: 0.96rem;
  text-align: center;
  color: #fff;
}
.container-index header#header p.back {
  width: 0.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.2rem;
  text-align: right;
}
.container-index #main {
  width: 100%;
  height: auto;
}
.container-index #main .swiper-container {
  width: 100%;
  height: 3.46rem;
  background: #FFF;
}
.container-index #main .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.container-index #main .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.container-index #main .swiper-container .swiper-wrapper .swiper-slide a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.container-index #main .swiper-container .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
}
.container-index #main .shortcut_btn {
  width: 100%;
  height: 0.46rem ;
  background: #eee;
}
.container-index #main .shortcut_btn ul {
  width: 100%;
  height: 100%;
}
.container-index #main .shortcut_btn ul li {
  position: relative;
  left: 0;
  top: 0;
  width: 1.66rem;
  height: 100%;
  line-height: 0.46rem;
  float: left;
  padding-right: 0.26rem;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.2rem;
  color: 595757;
}
.container-index #main .shortcut_btn ul li.shortcut_divider {
  width: 1.11rem;
  border-left: 1px solid #dcdddd;
  border-right: 1px solid #dcdddd;
}
.container-index #main .shortcut_btn ul li p {
  width: 0.16rem;
  height: 0.32rem;
  line-height: 0.32rem;
  position: absolute;
  right: 0.3rem;
  top: 0.08rem;
}
.container-index #main .shortcut_btn ul li p span {
  display: inline-block;
  width: 0.16rem;
  height: 0.16rem;
  box-sizing: border-box;
  background: blue;
  float: left;
}
.container-index #main .shortcut_btn ul li p span.up {
  background: url(../image/icon/up.png) center center no-repeat;
  background-size: 0.14rem 0.12rem;
}
.container-index #main .shortcut_btn ul li p span.down {
  background: url(../image/icon/down.png) center center no-repeat;
  background-size: 0.14rem 0.12rem;
}
.container-index #main .shortcut_btn ul li p span.up-on {
  background: url(../image/icon/up_on.png) center center no-repeat;
  background-size: 0.14rem 0.12rem;
}
.container-index #main .shortcut_btn ul li p span.down-on {
  background: url(../image/icon/down_on.png) center center no-repeat;
  background-size: 0.14rem 0.12rem;
}
.container-index #main .sort-content {
  width: 100%;
  height: auto;
}
.container-index #main .sort-content .sort-item {
  width: 100%;
  height: 2.34rem;
  border-bottom: 1px solid #F1F1F1;
}
.container-index #main .sort-content .sort-item .item-img {
  width: 3.34rem;
  height: 100%;
  float: left;
}
.container-index #main .sort-content .sort-item .item-img img {
  width: 100%;
  height: 100%;
}
.container-index #main .sort-content .sort-item .other {
  width: 3.86rem;
  height: 100%;
  float: left;
}
.container-index #main .sort-content .sort-item .other p {
  float: left;
}
.container-index #main .sort-content .sort-item .other p.title {
  width: 3.86rem;
  height: auto;
  font-size: 0.24rem;
  color: #000;
  line-height: 0.44rem;
  margin-top: 0.54rem;
}
.container-index #main .sort-content .sort-item .other p.score {
  width: 1.8rem;
  height: auto;
  font-size: 0.21rem;
  color: #ed5253;
  margin-top: 0.66rem;
}
.container-index #main .sort-content .sort-item .other p.score span {
  font-size: 0.3rem;
}
.container-index #main .sort-content .sort-item .other p.go-exchange {
  width: 1.32rem;
  height: 0.52rem;
  margin-top: 0.58rem;
  margin-left: 0.3rem;
}
.container-index #main .sort-content .sort-item .other p.go-exchange button {
  width: 100%;
  height: 100%;
  line-height: 0.52rem;
  font-size: 0.2rem;
  color: #fff;
  background: #ed5253;
  border-radius: 0.07rem;
}
.container-index footer#footer {
  width: 100%;
  height: 0.96rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: url(../image/index/nav.png) 0 0 no-repeat;
  background-size: 100% 0.96rem;
}
.container-index footer#footer nav {
  width: 100%;
  height: 100%;
}
.container-index footer#footer nav ul {
  width: 100%;
  height: 100%;
}
.container-index footer#footer nav ul li {
  width: 25%;
  height: 100%;
  float: left;
}
.container-index footer#footer nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}