html {
  font-family: "寰蒋闆呴粦";
  background: #f1f1f1;
}
.color1 {
  background: #122B40;
}
.color2 {
  background: #D0E9C6;
}
.color3 {
  background: #AFD9EE;
}
.color4 {
  background: #D43F3A;
}
.color5 {
  background: #ADADAD;
}
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.link {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
div {
  box-sizing: border-box;
}
.container-index {
  width: 100%;
  height: 12.8rem;
  padding-top: 0.96rem;
  background: #fff;
}
.container-index header#header {
  width: 100%;
  height: 0.96rem;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  border-bottom: 0.02rem solid #f1f1f1;
}
.container-index header#header p {
  width: 100%;
  height: 100%;
  font-size: 0.27rem;
  font-family: "寰蒋闆呴粦";
  line-height: 0.96rem;
  text-align: center;
  color: #000;
}
.container-index header#header p.back {
  width: 0.9rem;
  position: absolute;
  left: 0;
  top: 0;
}
.container-index header#header p.back a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 0.2rem;
  text-align: right;
  color: #595757;
  background: url(/积分商城页面/image/back-1.png) 0.2rem center no-repeat;
  background-size: 0.12rem 0.18rem;
}
.container-index #main {
  width: 100%;
  height: auto;
  background: #fff;
}
.container-index #main .address-manage {
  width: 100%;
  height: 1.9rem;
  line-height: 0.6rem;
  float: left;
  min-height: 11.48rem;
}
.container-index #main .address-manage .address-manage-list {
  width: 100%;
  height: 1.3rem;
  background: #fff;
  float: left;
  border-bottom: 0.02rem solid #f1f1f1;
}
.container-index #main .address-manage .address-manage-list p {
  width: 5.18rem;
  height: 0.3rem;
  line-height: 0.3rem;
  float: left;
  font-size: 0.24rem;
  padding-left: 0.7rem;
}
.container-index #main .address-manage .address-manage-list p.p0 {
  padding-top: 0.26rem;
}
.container-index #main .address-manage .address-manage-list p.p0 span {
  display: inline-block;margin-left: 0.1rem;
}
.container-index #main .address-manage .address-manage-list p.p0 span.mobile {
  /*width: 150px;*/
  height: 0.3rem;
  margin-left: 0.85rem;
}
.container-index #main .address-manage .address-manage-list p.p0 span.state {
  width: 0.6rem;
  text-align: center;
  font-size: 0.15rem;
  height: 0.22rem;
  line-height: 0.24rem;
  border-radius: 0.1rem;
  background: #898989;
  color: #fff;
  display: none;
}
.container-index #main .address-manage .address-manage-list p.p0 span.active{display: inline-block;}
.container-index #main .address-manage .address-manage-list p.p1 {
  	padding-top: 0.14rem;
  	color: #898989;
  	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
}

.container-index #main .address-manage .address-manage-list a {
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  float: right;
  background: url(../image/edit.png) 0 0 no-repeat;
  background-size: 0.34rem 0.33rem;
  margin-right: 0.3rem;
}
.container-index #main .address-manage .address-manage-list a.remove {
  background: url(../image/remove.png) 0 0 no-repeat;
  background-size: 0.34rem 0.33rem;
  margin-right: 0.3rem;
}
.container-index #main .address-add {
  width: 100%;
  height: 0.88rem;
  background: #ed5253;
  text-align: center;
  float: left;
}
.container-index #main .address-add a {
  display: inline-block;
  width: 1.65rem;
  height: 100%;
  text-align: right;
  line-height: 0.88rem;
  font-size: 0.27rem;
  color: #fff;
  background: url(../image/user/add_address.png) 0 center no-repeat;
  background-size: 0.28rem 0.28rem;
}