@charset "utf-8";
/* CSS Document */

blockquote,body,header,nav,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font: 12px/1.5 Helvetica,"Helvetica Neue",Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%}
address,cite,dfn,em,var,i{font-style:normal}
small{font-size:12px}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
ol,ul{list-style:none}
a{color:#BBB;text-decoration:none;}
a:hover{color:#FF6600;text-decoration: none;}
fieldset,img{border:0 none;}
textarea{resize:none;}
a,input,button,select,textarea{outline:none;}
a,button{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0}
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 设置HTML5元素为块 */
article， aside， details， figcaption， figure， footer， header， hgroup， menu， nav， section {
display:block;
}
/* 设置图片视频等自适应调整 */
img {
max-width: 100%;
height:auto;
width: auto\9; /* ie8 */
}
video embed， video object， video iframe {
width: 100%;
height:auto;
}
/*清楚浮动*/
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}