html {
  font-family: "微软雅黑";
}
.color1 {
  background: #122B40;
}
.color2 {
  background: #D0E9C6;
}
.color3 {
  background: #AFD9EE;
}
.color4 {
  background: #D43F3A;
}
.color5 {
  background: #ADADAD;
}
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
div {
  box-sizing: border-box;
}
.container-index {
  width: 100%;
  height: auto;
  min-height: 12.8rem;
  background: #fff;
  padding-top: 0.96rem;
}
.container-index header#header {
  width: 100%;
  height: 0.96rem;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  border-bottom: 1px solid #F1F1F1;
}
.container-index header#header p {
  width: 100%;
  height: 100%;
  font-size: 0.27rem;
  font-family: "微软雅黑";
  line-height: 0.96rem;
  text-align: center;
  color: #000;
}
.container-index header#header p.back {
  width: 0.9rem;
  position: absolute;
  left: 0;
  top: 0;
}
.container-index header#header p.back a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 0.2rem;
  text-align: right;
  color: #595757;
  background: url(../image/back-1.png) 0.2rem center no-repeat;
  background-size: 0.12rem 0.18rem;
}
.container-index header#header p.my-order {
  width: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
}
.container-index header#header p.my-order a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 0.24rem;
  color: #898989;
}
.container-index #main {
  width: 100%;
  height: auto;
  background: #fff;
  border-top: 0.08rem solid #FAFAFA;
}
.container-index #main .settlement-cancel-tips {
  width: 100%;
  height: 1.78rem;
  background: #fff;
  line-height: 1.78rem;
  font-size: 0.24rem;
  color: #000;
  text-align: center;
}
.container-index #main .earn-title {
  width: 100%;
  height: 0.96rem;
  line-height: 0.96rem;
  padding-left: 1rem;
  color: #000;
  font-size: 0.27rem;
  border-bottom: 1px solid #F1F1F1;
  background: #FAFAFA url(../image/tuijian.png) 0.2rem center no-repeat;background-size: 0.7rem 0.6rem;
}
.container-index #main ul {
  width: 100%;
  height: 1.06rem;
  padding-bottom: 5.92rem;
}
.container-index #main ul li {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #f4f4f4;
  background: #fff;
  float: left;
}
.container-index #main ul li p {
  width: 100%;
  height: 0.64rem;
  line-height: 0.64rem;
  text-align: left;
  font-size: 0.24rem;
  color: #000;
  padding-left: 0.3rem;
}
.container-index #main ul li a {
  display: inline-block;
  width: 50%;
  height: 0.42rem;
  line-height: 0.32rem;
  text-align: right;
  float: right;
  font-size: 0.2rem;
  color: #ed5253;
  padding-right: 0.24rem;
}