<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>热门兑换</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="../../css/hot.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/hot.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">热门兑换</p>
				<p class="back">返回</p>
			</header>
			<!--main-->
			<div id="main">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide"><a href="#"><img src="../../image/index/banner.png"/></a></div>
				        <div class="swiper-slide"><a href="#"><img src="../../image/index/banner.png"/></a></div>
				        <div class="swiper-slide"><a href="#"><img src="../../image/index/banner.png"/></a></div>
				    </div>
				</div>
				<div class="shortcut_btn">
					<ul>
						<li>销量<p><span class="up"></span><span class="down down-on"></span></p></li>
						<li class="shortcut_divider"></li>
						<li>人气<p><span class="up up-on"></span><span class="down"></span></p></li>
						<li class="shortcut_divider"></li>
						<li>价格<p><span class="up"></span><span class="down down-on"></span></p></li>
					</ul>
				</div>
				<div class="sort-content">
					<div class="sort-item">
						<div class="item-img">
							<img src="../../image/index/首页切图_05.png"/>
						</div>
						<div class="other">
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分: <span>50000</span></p>
							<p class="go-exchange"><button>立即兑换</button></p>
						</div>
					</div>
					<div class="sort-item">
						<div class="item-img">
							<img src="../../image/index/首页切图_05.png"/>
						</div>
						<div class="other">
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分: <span>50000</span></p>
							<p class="go-exchange"><button>立即兑换</button></p>
						</div>
					</div>
					<div class="sort-item">
						<div class="item-img">
							<img src="../../image/index/首页切图_05.png"/>
						</div>
						<div class="other">
							<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
							<p class="score">积分: <span>50000</span></p>
							<p class="go-exchange"><button>立即兑换</button></p>
						</div>
					</div>
				</div>
					
					
			</div>
			
			<!--footer-->
			<footer id="footer">
				<nav>
					<ul>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</nav>
			</footer>
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
