
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="author" content="智能社 - zhinengshe.com">
<meta name="copyright" content="智能社 - zhinengshe.com">
<title>分块幻灯片</title>
<style>
* { margin:0; padding:0; }
body { padding-bottom:500px; }
.box { position:relative; width:710px; height:400px; margin:50px auto; }
.box img{width: 100%;height: 100%;}
span { position:absolute; background:url(img/0.jpg) no-repeat; opacity:0; }
</style>
<script src="move.js"></script>
<script>
window.onload=function (){
	var oDiv=document.getElementById('div1');
	var oImg=oDiv.getElementsByTagName('img')[0];
	var aPath=['a.jpg', 'b.jpg', 'c.jpg', 'd.jpg'];
	//很少受照片数目，和名字的影响，耦合性不高
	var Row=4;
	var Col=7;
	
	// 创建span
	var W=710/Col;
	var H=400/Row;
	
	var aSpan=[];
	for (var r=0; r<Row; r++)
	{
		for (var c=0; c<Col; c++)
		{
			var oSpan=document.createElement('span');
			oSpan.style.width=W+'px';
			oSpan.style.height=H+'px';
			var top=r*H;
			var left=c*W;
			oSpan.style.top=top+'px';
			oSpan.style.left=left+'px';
			
			oSpan.style.backgroundPosition='-'+left+'px  -'+top+'px';
			
			oDiv.appendChild(oSpan);
			aSpan.push(oSpan);
		}
	}
	
	// 点击
	var bFlag=false;
	var now=0; // 第几次单击
	document.onclick=function (){
		//在最后一个span没有显示之前取消点击事件
		if (bFlag)
		{
			return;
		}
		
		bFlag=true;
		
		var n=0;
		now++; // 1
		
		for (var i=0; i<aSpan.length; i++)
		{
			aSpan[i].style.opacity=0;
			aSpan[i].style.backgroundImage=
			'url(img/'+aPath[now%aPath.length]+')';
		}
		
		var timer=setInterval(function (){
			(function (index){
				move(aSpan[n], {opacity:1}, {
					complete:function (){
						if (index == aSpan.length-1)
						{
							oImg.src='img/'+aPath[now%aPath.length];
							bFlag=false;
						}
					}
				});
			})(n);
			
			n++;
			
			if (n == aSpan.length)
				clearInterval(timer);
		}, 100);
	};
};
</script>
</head>

<body>
	<div class="box" id="div1">
		<img src="img/0.jpg" />
	</div>
</body>
</html>













