<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网址大全</title>
<link href="image/sougou.css" type="text/css" rel="stylesheet"  >
</head>
<body>
    <div id="header">
		  <div class="hnav auto">
		        <div class="hl">
				      <a href="#">设为主页</a>
					  <span>|</span>
					  <a href="#">加入收藏</a>
					  <span>|</span>
					  <a href="#">手机版</a>
					  <span>|</span>
					  <a href="#">宽屏版</a>
				</div>
				<div class="hr">
				      <a href="#">个性设置</a>
					  <span>|</span>
					  <a href="#">意见反馈</a>
					  <span>|</span>
					  <span><a href="#" class="skin">换肤&nbsp;
					  <span class="la">( 寂静深海 )</span></a></span>
					  
				</div>
		  </div>
	</div>
    <div id="main" class="auto">
	      <div class="mnav1">
		        <div class="logo">
				      <a href="#"><img src="image/logo.png" /></a>
				</div>
				<div class="weatherCity">
				      <p class="p0"><span>北京</span> <a href="#"><span>[更改]</span></a></p>
					  <p class="p1"><a href="#">七日天气</a></p>
				</div>
				<div class="weather">
				      <a href="#">
					      <img src="image/mai_yin.png"  />
					      <p class="p2">空气污染:<span class="level">良</span></p>
						  <p class="p3">8℃ ~ 6℃</p>
					  </a>
				</div>
				<div class="weather">
				      <a href="#">
					  <img src="image/xiaoyu.png"  />
					  <p class="p2">小雨转多云</p>
					  <p class="p3">10℃ ~ 7℃</p>
					  </a>
				</div>
				<div class="date">
				      <a href="#">
					  <p>11月12日 星期四 </p>
					  <p class="p4">十月初一</p>
					  </a>
				</div>
				<div class="box1">
				      <p><a href="#">&nbsp;笑话:一次性生活补助</a></p>
					  <p class="p5">
					  <table>
					        <tr>
							      <td>邮箱:</td>
							      <td><input type="text"/>
								  </td>
							</tr>
					  </table>
					  </p>
				</div>
				<div class="box2">
				     <p class="p6"><a href="#">马伊琍朱亚文激情</a></p>
					 <p class="p7"><a href="#">9.9元封顶全场包邮！</a></p>
				</div>
		  </div>
		  <div class="search">
		        <div class="searchImg">
					  <img src="image/sogou.png" />
				</div>
				<div class="searchCont"> 
				      <div class="snav">
					        <a href="#" class="page">网页</a>
							<a href="#">新闻</a>
							<a href="#">音乐</a>
							<a href="#">视频</a>
							<a href="#">问问</a>
							<a href="#">图片</a>
							<a href="#">淘宝</a>
							<a href="#">地图</a>
							<a href="#">微信</a>
				      </div>
					  <div class="sfind">
					        <input type="text" class="text" />
							<input type="submit" value="搜索" class="submit" />
							<div class="hotFind">
							      <ul>
								        <li class="l1"><a href="#">冬季特卖</a></li>
										<li class="l2"><a href="#">9块9包邮</a></li>
										<li class="l3"><a href="#">携程特价</a></li>
										<li class="l3"><a href="#">蛮便宜特价</a></li>
								  </ul>
							</div>
				      </div>
				</div>
		  </div>
		  <div id="space"></div>
		  <div class="mnav2">
		      <ul>
		        <li><a href="#"><img src="image/20150424214947_346.png" /><span>新闻头条</span></a></li>
				<li><a href="#"><img src="image/20150424215038_78.png" /><span>电视剧</span></a></li>
				<li><a href="#"><img src="image/20150424215126_290.png" /><span>最新电影</span></a></li>
				<li><a href="#"><img src="image/20150427165803_801.png" /><span>热播综艺</span></a></li>
				<li><a href="#"><img src="image/20150605214358_829.png" /><span>9块9包邮</span></a></li>
				<li><a href="#"><img src="image/20150424215337_353.png" /><span>免费小说</span></a></li>
				<li><a href="#"><img src="image/20150424215423_151.png" /><span>玩游戏</span></a></li>
				<li><a href="#"><img src="image/20150424215248_562.png" /><span>团购大全</span></a></li>
				<li><a href="#"><img src="image/20150605214313_13.png" /><span>特价旅游</span></a></li>
			  </ul> 	
		  </div>
		  <div id="space"></div>
		  <div class="content">
		        <div class="leftCont">
				      <div class="leftOne">
					        <a href="#">周润发自曝曾接受脸部整容</a>
					  </div>
					  <div class="leftTwo">
					        <ul>
							      <li class="bg1"><a href="#">实用工具</a></li>
								  <li class="bg2"><a href="#">电视剧</a></li>
								  <li class="bg3"><a href="#">网上购物</a></li>
								  <li class="bg4"><a href="#">热门电影</a></li>
								  <li class="bg5"><a href="#">今日团购</a></li>
								  <li class="bg6"><a href="#">游戏</a><span>|</span><a href="#">动漫</a></li>
								  <li class="bg7"><a href="#">小说</a><span>|</span><a href="#">军事</a></li>
								  <li class="bg8"><a href="#">彩票</a><span>|</span><a href="#">理财</a></li>
								  <li class="bg9"><a href="#">音乐</a><span>|</span><a href="#">综艺</a></li>
								  <li class="bg10"><a href="#">笑话</a><span>|</span><a href="#">旅游</a></li>
								  <li class="bg11"><a href="#">娱乐</a><span>|</span><a href="#">美女</a></li>
								  <li class="bg12"><a href="#">机票</a><span>|</span><a href="#">酒店</a></li>
							</ul>
					  </div>
					  <div class="leftThree">
					        <div class="lTitle">
							      <p>推荐栏目</p>
								  <a href="#">[设置]</a>
								  <span>|</span>
							</div>
							<div class="contBox">
							      <ol>
								        <li><a href="#">头条</a><span>|</span></li>
										<li><a href="#">军事</a><span>|</span></li>
										<li><a href="#">社会</a><span>|</span></li>
										<li><a href="#">明星</a></li>
								  </ol>
								  <ul>
								        <li><a href="#">俄总统普京在新华网发署名文章</a></li>
										<li><a href="#">曝姚刚前秘书或向李友借款千万</a></li>
										<li><a href="#">台军装甲车坠湖 两士兵被淹死</a></li>
										<li><a href="#">麦当劳进蒋经国故居 蒋友柏质疑</a></li>
										<li><a href="#">"宜宾首富"被曝遭绑架勒索1亿</a></li>
										<li><a href="#">毁容消防员接受史上最强换脸术</a></li>
										<li><a href="#">大爷大妈为儿子上演活人占车位</a></li>
										<li><a href="#">周润发自曝很早就做过脸部整形</a></li>
								  </ul>
							</div>
							<div class="clear"></div>
							<div class="contBox">
							      <ol>
								        <li><a href="#">热播</a><span>|</span></li>
										<li><a href="#">电视剧</a><span>|</span></li>
										<li><a href="#">电影</a><span>|</span></li>
										<li><a href="#">动漫</a></li>
								  </ol>
								  <ul>
					 					<li><a href="#"><img src="image/20151109112733_217.jpg" /></a></li>
										<li><a href="#">毁容消防员接受史上最强换脸术</a></li>
										<li><a href="#">大爷大妈为儿子上演活人占车位</a></li>
										<li><a href="#">周润发自曝很早就做过脸部整形</a></li>
								  </ul>
							</div>
							<div class="clear"></div>
							<div class="contBox">
							      <ol>
								        <li><a href="#">购物</a><span>|</span></li>
										<li><a href="#">9块9</a><span>|</span></li>
										<li><a href="#">服装</a><span>|</span></li>
										<li><a href="#">特卖</a></li>
								  </ol>
								  <ul>
										<li><a href="#"><img src="image/1.jpg" class="img1" /></a></li>
										<li><a href="#"><img src="image/2.jpg" class="img1" /></a></li>
										<li><span><a href="#">特价商城</a></span></li>
										<li><span><a href="#">毛呢外套大促</a></span></li>
										<li><span><a href="#">今日特价</a></span></li>
										<li><span><a href="#">连衣裙1折清仓</a></span></li>
										<li><span><a href="#">打底衫9.9元起</a></span></li>
										<li><span><a href="#">冬装新品超低价</a></span></li>								
										<div class="clear"></div>
								  </ul>
							</div>
							
							<div class="contBox">
							      <ol>
								        <li><a href="#">车讯</a><span>|</span></li>
										<li><a href="#">热门</a><span>|</span></li>
										<li><a href="#">降价</a><span>|</span></li>
										<li><a href="#">推荐</a></li>
								  </ol>
								  <ul>
								        <li><a href="#"><img src="image/3.jpg" class="img2" /></a></li>
										<li><a href="#"><img src="image/4.jpg" class="img2" /></a></li><div class="clear"></div>
										<li><a href="#">价亲民 三款中国品牌家轿对比</a></li>
										<li><a href="#">邦德老了 007还好看吗</a></li>
										<li><a href="#">捷豹首款国产车明年四季度投产</a></li>
										<li><a href="#">五十铃瑞迈上市 售8.48万起</a></li>
								  </ul>
							</div>
							<div class="clear"></div>  <!-- -->
							<div class="contBox">
							        <ol>
								        <li class="li1"><a href="#" class="a1">手机充值</a></li>
										<li class="li2"><a href="#" class="a2">机票</a><span>|</span></li>
										<li class="li3"><a href="#" class="a3">酒店</a></li>
								  </ol>
								  <table>
								      <tr>
									        <td><input type="text"></input></td>
											<td>
											      <select>
												        <option value="30">30</option>
														<option value="50">50</option>
														<option value="100" selected="selected">100</option>
														<option value="200">200</option>
														<option value="300">300</option>
														<option value="500">500</option>
												  </select>
											</td>
											<td><a href="#"><input type="submit" value="充值"></input></a></td>
									  </tr>
								  </table>
							</div>
							<div class="clear"></div>
					  </div>
				</div>
				<div class="rightCont">
				      <div class="famousNav">
					        <p><a href="#" class="fixed">名站导航</a><a href="#">快速通道</a></p>
							<div class="navOne">
							     <ul>
							           <li><a href="#">搜狐</a><span>•</span><a href="#">新闻</a></li>
							           <li><a href="#">腾讯</a><span>•</span><a href="#">空间</a></li>
				                       <li><a href="#">新浪</a><span>•</span><a href="#">微博</a></li>
					            	   <li><a href="#">网易</a><span>•</span><a href="#">邮箱</a></li>
							           <li><a href="#">百度</a><span>•</span><a href="#">知道</a></li>
							           <li><a href="#">凤凰</a><span>•</span><a href="#">军事</a></li>
							           <li><a href="#">搜狗</a></li>
							           <li>
									   <table>
									        <tr>
											<td><a href="#">天猫</a></td>
									        <td><span>•</span></td>
									        <td><a href="#"><img src="image/20150702212812_715.png" /></a></td>
									        </tr>
									   </table>
									   </li>
							           <li><a href="#">新华网</a></li>
							           <li><a href="#">聚划算</a></li>
							           <li><a href="#">搜狗理财</a></li>
							           <li><a href="#">中国政府网</a></li>
							           <li><a href="#">爱淘宝</a></li>
							           <li><a href="#">人民网</a></li>
							           <li><a href="#">58同城</a></li>
							           <li><a href="#">谷歌</a></li>
							           <li><a href="#">央视网</a></li>
							           <li><a href="#">淘宝网</a></li>
							           <li><a href="#">高清影视</a></li>
							           <li><a href="#">小游戏</a><span>•</span><a href="#">动漫</a></li>
							           <li><a href="#">游戏排行榜</a></li>
							           <li><a href="#">新闻头条</a></li>
							           <li><a href="#">旅游</a><span>•</span><a href="#">12306</a></li>
							           <li><a href="#">太平洋电脑</a></li><div class="clear"></div>
							      </ul>
							</div>
							<div class="navTwo">
							      <ul>
							           <li><a href="#">聚美优品</a></li>
							           <li><a href="#">同程旅游网</a></li>
				                       <li><a href="#">易车网</a></li>
					            	   <li><a href="#">爱卡汽车</a></li>
							           <li><a href="#">安居客房产</a></li>
							           <li><a href="#">汽车之家</a></li>
							           <li><a href="#">赶集网</a></li>
							           <li><a href="#">世纪佳缘</a></li>
							           <li><a href="#">搜房网</a></li>
							           <li><a href="#">途牛旅游网</a></li>
							           <li><a href="#">去哪儿网</a></li>
							           <li><a href="#">艺龙酒店</a></li>
							           <li><a href="#">美团网团购</a></li>
							           <li><a href="#">珍爱婚恋网</a></li>
							           <li><a href="#">百合婚恋网</a></li>
							           <li><a href="#">智联招聘</a></li>
							           <li><a href="#">苏宁易购</a></li>
							           <li><a href="#">东方财富</a></li>
							           <li><a href="#">京东商城</a></li>
							           <li><a href="#">人人网</a></li>
							           <li><a href="#">搜狗彩票</a></li>
							           <li><a href="#">蘑 菇 街</a></li>
							           <li><a href="#">携程旅行网</a></li>
							           <li><a href="#">1号店</a></li>
									   <li><a href="#">国美在线</a></li>
							           <li><a href="#">亚马逊</a></li>
							           <li><a href="#">今日特价</a></li>
							           <li><a href="#">唯品会</a></li>
							           <li><a href="#">今日团购</a></li>
							           <li><a href="#">天涯社区</a></li>
									   <div class="clear"></div>
							      </ul>
							</div>
					  </div>
					  <div class="littleNav">
					        <ul>
							      <li><a href="#">9块9包邮</a></li>
							      <li><a href="#">3366小游戏</a></li>
				                  <li><a href="#">特价订酒店</a></li>
					              <li><a href="#">京东运动城</a></li>
							      <li><a href="#">冬季特卖</a></li>
							      <li><a href="#">便宜特价</a></li>
							      <li><a href="#">义乌购批发</a></li>
							      <li><a href="#">最热血网游</a></li>
							      <li><a href="#">8元抢机票</a></li>
							      <li><a href="#">高收益理财</a></li>						         
							      <div class="clear"></div>       
							</ul>
					  </div>
					  <div class="mainBox">
					        <div class="mBox">
							      <p>
								       <a href="#">小说</a>
									   <a href="#">页游</a>
									   <a href="#">音乐</a>
									   <a href="#">视频</a>
									   <a href="#">游戏</a>
									   <a href="#">购物</a>
									   <a href="#">电视剧</a>
									   <a href="#">电影</a>
									   <a href="#">综艺</a>
									   <a href="#">动漫</a>
									   <a href="#">小游戏</a>
								  </p>
								  <div class="clear"></div> 
								  <div class="cont">
								        <ul>
										      <li class="con1"><a href="#">[影视]</a></li>
							                  <li><a href="#">电影</a></li>
				                              <li><a href="#">电视剧</a></li>
					                          <li><a href="#">综艺</a></li>
							                  <li><a href="#">动漫</a></li>
							                  <li><a href="#">网络直播</a></li>
											  <li><a href="#">琅琊榜</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[页游]</a></li>
							                  <li><a href="#">变态传奇</a></li>
				                              <li><a href="#">皇图</a></li>
					                          <li><a href="#">一刀999</a></li>
							                  <li><a href="#">花千骨</a></li>
							                  <li><a href="#">诸神战记</a></li>
											  <li><a href="#">战国之怒</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[视频]</a></li>
							                  <li><a href="#">搜狐视频</a></li>
				                              <li><a href="#">爱奇艺高清</a></li>
					                          <li><a href="#">乐视高清</a></li>
							                  <li><a href="#">优酷网</a></li>
							                  <li><a href="#">六间房秀场</a></li>
											  <li><a href="#">搜狗视频</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
											  <ul>
										      <li class="con1"><a href="#">[音乐]</a></li>
							                  <li><a href="#">搜狗音乐</a></li>
				                              <li><a href="#">一听音乐</a></li>
					                          <li><a href="#">百度音乐</a></li>
							                  <li><a href="#">酷狗秀场</a></li>
							                  <li><a href="#">YY美女直播</a></li>
											  <li><a href="#">虾米音乐</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[游戏]</a></li>
							                  <li><a href="#">17173</a></li>
				                              <li><a href="#">4399小游戏</a></li>
					                          <li><a href="#">7K7K小游戏</a></li>
							                  <li><a href="#">6873小游戏</a></li>
							                  <li><a href="#">传奇盛世</a></li>
											  <li><a href="#">皇图</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[小说]</a></li>
							                  <li><a href="#">起点</a></li>
				                              <li><a href="#">完本小说</a></li>
					                          <li><a href="#">17K小说网</a></li>
							                  <li><a href="#">免费小说</a></li>
							                  <li><a href="#">女生小说</a></li>
											  <li><a href="#">玄幻小说</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[购物]</a></li>
							                  <li><a href="#">唯品会</a></li>
				                              <li><a href="#">国美在线</a></li>
					                          <li><a href="#">天猫精选</a></li>
							                  <li><a href="#">苏宁易购</a></li>
							                  <li><a href="#">新蛋商城</a></li>
											  <li><a href="#">1号店</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<div class="clear"></div> 
								  </div>
					        </div>
					        <div class="mBox">
							      <p>
								       <a href="#">新闻</a>
									   <a href="#">军事</a>
									   <a href="#">体育</a>
									   <a href="#">娱乐</a>
									   <a href="#">财经</a>
									   <a href="#">理财</a>
									   <a href="#">网游</a>
									   <a href="#">商城</a>
									   <a href="#">爱淘宝</a>
									   <a href="#">双色球</a>
								  </p>
								  <div class="clear"></div> 
								  <div class="cont">
								        <ul>
										      <li class="con1"><a href="#">[新闻]</a></li>
							                  <li><a href="#">新浪新闻</a></li>
				                              <li><a href="#">搜狐新闻</a></li>
					                          <li><a href="#">凤凰资讯</a></li>
							                  <li><a href="#">头条新闻</a></li>
							                  <li><a href="#">腾讯新闻</a></li>
											  <li><a href="#">网易新闻</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[军事]</a></li>
							                  <li><a href="#">中华网军事</a></li>
				                              <li><a href="#">米尔军情网</a></li>
					                          <li><a href="#">凤凰军事</a></li>
							                  <li><a href="#">头条军事</a></li>
							                  <li><a href="#">环球新军事</a></li>
											  <li><a href="#">铁血军事</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[体育]</a></li>
							                  <li><a href="#">新浪体育</a></li>
				                              <li><a href="#">搜狐体育</a></li>
					                          <li><a href="#">乐视体育</a></li>
							                  <li><a href="#">NBA中文网</a></li>
							                  <li><a href="#">天天直播吧</a></li>
											  <li><a href="#">腾讯体育</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
											  <ul>
										      <li class="con1"><a href="#">[理财]</a></li>
							                  <li><a href="#">搜狗理财</a></li>
				                              <li><a href="#">懒财理财网</a></li>
					                          <li><a href="#">宜信宜人贷</a></li>
							                  <li><a href="#">高收益理财</a></li>
							                  <li><a href="#">紫马财行</a></li>
											  <li><a href="#">易通贷理财</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[财经]</a></li>
							                  <li><a href="#">东方财富</a></li>
				                              <li><a href="#">新浪财经</a></li>
					                          <li><a href="#">搜狐财经</a></li>
							                  <li><a href="#">腾讯财经</a></li>
							                  <li><a href="#">网易财经</a></li>
											  <li><a href="#">搜狗贷款</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[网游]</a></li>
							                  <li><a href="#">传奇霸业</a></li>
				                              <li><a href="#">皇图</a></li>
					                          <li><a href="#">花千骨</a></li>
							                  <li><a href="#">战痕天下</a></li>
							                  <li><a href="#">诸神黄昏</a></li>
											  <li><a href="#">大战神</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[商城]</a></li>
							                  <li><a href="#">京东商城</a></li>
				                              <li><a href="#">天猫超市</a></li>
					                          <li><a href="#">9块9包邮</a></li>
							                  <li><a href="#">1号店超市</a></li>
							                  <li><a href="#">聚美优品</a></li>
											  <li><a href="#">当当</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<div class="clear"></div> 
								  </div>
					        </div>
					        <div class="mBox">
							      <p>
								       <a href="#">团购</a>
									   <a href="#">邮箱</a>
									   <a href="#">招聘</a>
									   <a href="#">房产</a>
									   <a href="#">交友</a>
									   <a href="#">美女</a>
									   <a href="#">母婴</a>
									   <a href="#">英语</a>
									   <a href="#">四六级</a>
								  </p>
								  <div class="clear"></div> 
								  <div class="cont">
								        <ul>
										      <li class="con1"><a href="#">团购]</a></li>
							                  <li><a href="#">美团网团购</a></li>
				                              <li><a href="#">今日特价</a></li>
					                          <li><a href="#">京东团购</a></li>
							                  <li><a href="#">聚划算</a></li>
							                  <li><a href="#">1号店团购</a></li>
											  <li><a href="#">团购大全</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[邮箱]</a></li>
							                  <li><a href="#">163邮箱</a></li>
				                              <li><a href="#">阿里云</a></li>
					                          <li><a href="#">126邮箱</a></li>
							                  <li><a href="#">新浪邮箱</a></li>
							                  <li><a href="#">QQ邮箱</a></li>
											  <li><a href="#">Hotmall</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[招聘]</a></li>
							                  <li><a href="#">智联招聘</a></li>
				                              <li><a href="#">58同城招聘</a></li>
					                          <li><a href="#">拉勾网</a></li>
							                  <li><a href="#">赶集招聘</a></li>
							                  <li><a href="#">测聘网</a></li>
											  <li><a href="#">中华英才网</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
											  <ul>
										      <li class="con1"><a href="#">[社区]</a></li>
							                  <li><a href="#">QQ空间</a></li>
				                              <li><a href="#">天涯社区</a></li>
					                          <li><a href="#">新浪微博</a></li>
							                  <li><a href="#">猫扑</a></li>
							                  <li><a href="#">百度贴吧</a></li>
											  <li><a href="#">豆瓣网</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[交友]</a></li>
							                  <li><a href="#">世纪佳缘网</a></li>
				                              <li><a href="#">真爱婚恋网</a></li>
					                          <li><a href="#">百合婚恋网</a></li>
							                  <li><a href="#">网易约会</a></li>
							                  <li><a href="#">非诚勿扰</a></li>
											  <li><a href="#">爱真心交友</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[女性]</a></li>
							                  <li><a href="#">腾讯时尚</a></li>
				                              <li><a href="#">天猫女装</a></li>
					                          <li><a href="#">蘑菇街</a></li>
							                  <li><a href="#">爱丽女性网</a></li>
							                  <li><a href="#">女装特卖</a></li>
											  <li><a href="#">瑞丽女性网</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[健康]</a></li>
							                  <li><a href="#">搜狐健康</a></li>
				                              <li><a href="#">网易健康</a></li>
					                          <li><a href="#">凤凰健康</a></li>
							                  <li><a href="#">39健康</a></li>
							                  <li><a href="#">寻医问药</a></li>
											  <li><a href="#">好大夫在线</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<div class="clear"></div> 
								  </div>
					        </div>
					        <div class="mBox">
							      <p>
								       <a href="#">旅游</a>
									   <a href="#">酒店</a>
									   <a href="#">银行</a>
									   <a href="#">贷款</a>
									   <a href="#">信用卡</a>
									   <a href="#">生活</a>
									   <a href="#">汽车</a>
									   <a href="#">电脑</a>
									   <a href="#">手机</a>
									   <a href="#">手机游戏</a>
								  </p>
								  <div class="clear"></div> 
								  <div class="cont">
								        <ul>
										      <li class="con1"><a href="#">[旅游]</a></li>
							                  <li><a href="#">去哪儿酒店</a></li>
				                              <li><a href="#">携程旅行网</a></li>
					                          <li><a href="#">艺龙酒店</a></li>
							                  <li><a href="#">驴妈妈旅游</a></li>
							                  <li><a href="#">旅途旅游网</a></li>
											  <li><a href="#">同程旅游</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[银行]</a></li>
							                  <li><a href="#">工商银行</a></li>
				                              <li><a href="#">农业银行</a></li>
					                          <li><a href="#">建设银行</a></li>
							                  <li><a href="#">中国银行</a></li>
							                  <li><a href="#">招商银行</a></li>
											  <li><a href="#">融360贷款</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[生活]</a></li>
							                  <li><a href="#">安居客房产</a></li>
				                              <li><a href="#">搜房网租房</a></li>
					                          <li><a href="#">特价电影票</a></li>
							                  <li><a href="#">手机充值</a></li>
							                  <li><a href="#">房多多房产</a></li>
											  <li><a href="#">12306</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
											  <ul>
										      <li class="con1"><a href="#">[查询]</a></li>
							                  <li><a href="#">火车票</a></li>
				                              <li><a href="#">机票查询</a></li>
					                          <li><a href="#">快递查询</a></li>
							                  <li><a href="#">违章查询</a></li>
							                  <li><a href="#">天气预报</a></li>
											  <li><a href="#">在线翻译</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[汽车]</a></li>
							                  <li><a href="#">易车网</a></li>
				                              <li><a href="#">汽车之家</a></li>
					                          <li><a href="#">爱卡汽车</a></li>
							                  <li><a href="#">搜狐汽车</a></li>
							                  <li><a href="#">人人车</a></li>
											  <li><a href="#">28二手车</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[手机]</a></li>
							                  <li><a href="#">天极手机</a></li>
				                              <li><a href="#">手机充值</a></li>
					                          <li><a href="#">太平洋手机</a></li>
							                  <li><a href="#">手机之家</a></li>
							                  <li><a href="#">手机助手</a></li>
											  <li><a href="#">新浪手机</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[电脑]</a></li>
							                  <li><a href="#">太平洋电脑</a></li>
				                              <li><a href="#">中关村在线</a></li>
					                          <li><a href="#">搜狐IT</a></li>
							                  <li><a href="#">苹果apple</a></li>
							                  <li><a href="#">天极数码</a></li>
											  <li><a href="#">天空软件</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<ul>
										      <li class="con1"><a href="#">[酷站]</a></li>
							                  <li><a href="#">美女秀场</a></li>
				                              <li><a href="#">78创业商机</a></li>
					                          <li><a href="#">搜狗哈哈</a></li>
							                  <li><a href="#">蛮便宜特价</a></li>
							                  <li><a href="#">搜狗动漫</a></li>
											  <li><a href="#">时光网</a></li>
							                  <li class="con2"><a href="#">更多»</a></li>
										</ul>
										<div class="clear"></div> 
								  </div>
					        </div>
					  </div>
				</div>
		  </div>
		  <div class="clear"></div> 
		  <div id="space"></div> 
		  <div class="mnav3">
		        <ul>
				      <li>
					       <a href="#" class="n1">[新闻]</a>
					       <span>|</span>
					       <a href="#">军事</a>
					       <a href="#">生活</a>
					       <a href="#">天气</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[团购]</a>
					       <span>|</span>
					       <a href="#">购物</a>
					       <a href="#">淘宝</a>
					       <a href="#">女性</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[健康]</a>
					       <span>|</span>
					       <a href="#">减肥</a>
					       <a href="#">两性</a>
					       <a href="#">时尚</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[汽车]</a>
					       <span>|</span>
					       <a href="#">房产</a>
					       <a href="#">家居</a>
					       <a href="#">违章</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[招聘]</a>
					       <span>|</span>
					       <a href="#">交友</a>
					       <a href="#">社区</a>
					       <a href="#">宠物</a>
					  </li>
				</ul>
				<ul>
				      <li>
					       <a href="#" class="n1">[电影]</a>
					       <span>|</span>
					       <a href="#">视频</a>
					       <a href="#">综艺</a>
					       <a href="#">电视剧</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[美女]</a>
					       <span>|</span>
					       <a href="#">图片</a>
					       <a href="#">摄影</a>
					       <a href="#">博客</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[游戏]</a>
					       <span>|</span>
					       <a href="#">棋牌</a>
					       <a href="#">网游</a>
					       <a href="#">小游戏</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[笑话]</a>
					       <span>|</span>
					       <a href="#">娱乐</a>
					       <a href="#">曲艺</a>
					       <a href="#">明星</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[星座]</a>
					       <span>|</span>
					       <a href="#">爱好</a>
					       <a href="#">宗教</a>
					       <a href="#">趣站</a>
					  </li>
				</ul>
				<ul>
				      <li>
					       <a href="#" class="n1">[理财]</a>
					       <span>|</span>
					       <a href="#">股票</a>
					       <a href="#">基金</a>
					       <a href="#">银行</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[体育]</a>
					       <span>|</span>
					       <a href="#">足球</a>
					       <a href="#">NBA</a>
					       <a href="#">直播</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[电脑]</a>
					       <span>|</span>
					       <a href="#">桌面</a>
					       <a href="#">邮箱</a>
					       <a href="#">杀毒</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[手机]</a>
					       <span>|</span>
					       <a href="#">科技</a>
					       <a href="#">软件</a>
					       <a href="#">聊天</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[历史]</a>
					       <span>|</span>
					       <a href="#">政府</a>
					       <a href="#">国外</a>
					       <a href="#">招商</a>
					  </li>
				</ul>
				<ul>
				      <li>
					       <a href="#" class="n1">[旅游]</a>
					       <span>|</span>
					       <a href="#">地图</a>
					       <a href="#">小说</a>
					       <a href="#">音乐</a>
					  </li>
				      <li>
					       <a href="#" class="n1">[母婴]</a>
					       <span>|</span>
					       <a href="#">儿童</a>
					       <a href="#">动漫</a>
					       <a href="#">漫画</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[美食]</a>
					       <span>|</span>
					       <a href="#">设计</a>
					       <a href="#">知识</a>
					       <a href="#">文库</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[教育]</a>
					       <span>|</span>
					       <a href="#">英语</a>
					       <a href="#">大学</a>
					       <a href="#">考试</a>
					  </li>
					  <li>
					       <a href="#" class="n1">[各地]</a>
					       <span>|</span>
					       <a href="#">上海</a>
					       <a href="#">广东</a>
					       <a href="#">更多</a>
					  </li>
				</ul>
				<div class="clear"></div> 
		  </div>
		  <div class="clear"></div> 
		  <div id="space"></div>
		  <div class="video">
		        <div class="videoBox">
				      <div class="vbleft">
					        <a href="#">看视频</a>
					  </div>
					  <div class="vbmid">							
							<a href="#">影视大全</a>
					        <a href="#">电视剧</a>
							<a href="#">电影</a>
							<a href="#">综艺</a>
							<a href="#">动漫</a>
							<a href="#">娱乐八卦</a>
					   </div>
					   <div class="vbright">
					        <a href="#">更多>></a>	<span>|</span>	
							<a href="#">美女秀场</a><span>|</span>
							<a href="#">付费电影</a>	  
					   </div>					    
				</div> 
				<div class="clear"></div> 
				<div class="picBox">
				    <div class="pic">
				      <a href="#"><img src="image/01.jpg" /></a>
					  <a href="#"><span class="pic1">奔跑吧兄弟第三季</span></a>
					  <a href="#"><span class="pic2">奔跑吧兄弟第三季之全明星演</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/101.jpg" /></a>
					  <a href="#"><span class="pic1">爸爸去哪儿第三季</span></a>
					  <a href="#"><span class="pic2">胡军闺女惊艳亮相刘烨安娜</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/102.jpg" /></a>
					  <a href="#"><span class="pic1">笑傲江湖第二季</span></a>
					  <a href="#"><span class="pic2">第8期:“放驴小子”演绎别样上</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/103.jpg" /></a>
					  <a href="#"><span class="pic1">一年级大学季</span></a>
					  <a href="#"><span class="pic2">万国鹏深情告白张予曦</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/104.jpg" /></a>
					  <a href="#"><span class="pic1">中国好声音第四季</span></a>
					  <a href="#"><span class="pic2">第15期:吴莫愁携人气学员回</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/105.jpg" /></a>
					  <a href="#"><span class="pic1">快乐大本营</span></a>
					  <a href="#"><span class="pic2">宋茜宝强争当王牌特工</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/106.jpg" /></a>
					  <a href="#"><span class="pic1">天天向上</span></a>
					  <a href="#"><span class="pic2">胖轩叫板克雷格上演拳击之战</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/107.jpg" /></a>
					  <a href="#"><span class="pic1">康熙来了</span></a>
					  <a href="#"><span class="pic2">康熙来了之罗志祥和杨丞琳</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/108.jpg" /></a>
					  <a href="#"><span class="pic1">全员加速中</span></a>
					  <a href="#"><span class="pic2">tfboys贾乃亮闯冷宫</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/109.jpg" /></a>
					  <a href="#"><span class="pic1">铿锵三人行</span></a>
					  <a href="#"><span class="pic2">铿锵三人行</span></a>
				    </div>
			    </div>
		  </div>
		  <div id="space"></div>
		  <div class="enc">
		        <div class="videoBox">
				      <div class="vbleft">
					        <a href="#">生活百科</a>
					  </div>
					  <div class="vbmid">							
							<a href="#">大家爱看</a>
					        <a href="#">旅游</a>
					   </div>
					   <div class="vbright">
					        <a href="#">常用软件</a>	<span>|</span>	
							<a href="#">星座</a><span>|</span>
							<a href="#">手机充值</a><span>|</span>	  
							<a href="#">特价机票</a><span>|</span>
							<a href="#">火车票</a>
					   </div>
				</div> 
				<div class="picBox">
				      <div class="vbCent">
					        <p><a href="#">奇闻异事</a></p>
							<div class="centImg">
							     <a href="#"><img  src="image/04.jpg" /></a>
								 <a href="#">女星拍激情戏用力过猛</a>
							</div>
							<div class="centImg">
							     <a href="#"><img  src="image/05.jpg"/></a>
								 <a href="#">女星赴日拍"片"遭强奸</a>
							</div>
							<div class="centp1">
							      <a href="#">北京天上人间第一花魁梁海玲惨死之谜！</a>
								  <a href="#">女星惊人现状：央视一姐沦为富豪泄欲工具</a>
								  <a href="#">香港拍三级片明星奇闻 李华月床戏来真的</a>
								  <a href="#">直击农村丧事上的脱衣舞 女人全脱光了</a>
								  <a href="#">台湾援交女星被设套偷拍：当场脱裙露底裤</a>
							</div>
	
					  </div>
					  <div class="vbCent">
					        <p><a href="#">旅游攻略</a></p>
							<div class="centImg">
							     <a href="#"><img  src="image/08.jpg"  /></a>
								 <a href="#">元旦春节，海边过暖冬</a>
							</div>
							<div class="centImg">
							     <a href="#"><img  src="image/09.jpg"/></a>
								 <a href="#">开房必备，暖心大床！</a>
							</div>
							<div class="centp2">
							      <a href="#">想滑雪，特价抢订</a>
								  <a href="#">海天盛筵，住三亚</a>
								  <a href="#">温泉节，泡去日本</a>
								  <a href="#">探秘，情侣酒店</a>
								  <a href="#">错峰游，再遇丽江</a>
								  <a href="#">海岛游，缠绵胜地</a>
								  <a href="#">单身狗温泉看妹纸</a>
								  <a href="#">哈尔滨，冰城魅影</a>
								  <a href="#">九寨沟，邂逅爱情</a>
								  <a href="#">爱琴海，情迷希腊</a>
							</div>
					  </div>
					  <div class="vbCent">
					        <p><a href="#">健康养生</a></p>
							<div class="centImg">
							     <a href="#"><img  src="image/06.jpg"  /></a>
								 <a href="#">家里放这物等于慢性自杀</a>
							</div>
							<div class="centImg">
							     <a href="#"><img  src="image/07.jpg"/></a>
								 <a href="#">餐馆里最不该点的几种菜</a>
							</div>
							<div class="centp1">
							      <a href="#">女人这里越小身体反而会越好</a>
								  <a href="#">女人身体7个“雷区”男人千万别踩</a>
								  <a href="#">不宜喝鸡汤的六种人群，你知道吗？</a>
								  <a href="#">一定要注意！9个特征说明你的肾非常好</a>
								  <a href="#">你大概不知道 冬季吃点红豆能够减肥</a>
					        </div>
					  </div>	  
				</div>
		  </div>
		  <div class="clear"></div> 
		  <div id="space"></div>
		  <div class="shopping">
		        <div class="videoBox">
				      <div class="vbleft">
					        <a href="#">实惠购物</a>
					  </div>
					  <div class="vbmid">							
							<a href="#">精彩网购</a>
					        <a href="#">9块9包邮</a>
							<a href="#">电影选座</a>
							<a href="#">团购精选</a>
					   </div>
					   <div class="vbright">
					        <a href="#">特价电影票</a>	<span>|</span>	
							<a href="#">天猫特卖</a><span>|</span>
							<a href="#">女装特卖</a>	  
					   </div>				    
				</div> 
				<div class="picBox">
				      <div class="sleft">
					        <a href="#">女装</a>
							<a href="#">男装</a>
							<a href="#">9块9</a>
							<a href="#">鞋包</a>
							<a href="#">居家</a>
							<a href="#">数码</a>
					  </div>
					  <div class="sright">
					        <div class="spic">
							      <a href="#"><img src="image/001.jpg"></a>
					        </div>
							<div class="spic">
							      <a href="#"><img src="image/201.jpg"></a>
					        </div>
							<div class="spic">
							      <a href="#"><img src="image/202.jpg"></a>
					        </div>
							<div class="spic">
							      <a href="#"><img src="image/203.jpg"></a>
					        </div>
							<div class="spic">
							      <a href="#"><img src="image/204.jpg"></a>
					        </div>
							<div class="spic">
							      <a href="#"><img src="image/205.jpg"></a>
					        </div>
							<div class="spic">
							      <a href="#"><img src="image/206.jpg"></a>
					        </div>
							<div class="spic">
							      <a href="#"><img src="image/207.jpg"></a>
					        </div>
							<div class="spic">
							      <a href="#"><img src="image/208.jpg"></a>
					        </div>
							<div class="spic">
							      <a href="#"><img src="image/209.jpg"></a>
					        </div>
							<div class="spic">
							      <a href="#"><img src="image/210.jpg"></a>
					        </div>
							<div class="spic">
							      <a href="#"><img src="image/211.jpg"></a>
					        </div>
					  </div>
				</div>
				<div class="clear"></div> 
		  </div>
		  <div id="space"></div>
		  <div class="games">
		        <div class="videoBox">
				      <div class="vbleft">
					        <a href="#">休闲游戏</a>
					  </div>
					  <div class="vbmid">							
							<a href="#">热门游戏</a>
					        <a href="#">小游戏</a>
							<a href="#">网页游戏</a>
					   </div>
					   <div class="vbright">
					        <a href="#">更多好玩游戏»</a>
					   </div>				    
				</div> 
				<div class="picBox">
				      <div class="gleft">
					        <div class="gamesImg1">
							     <a href="#"><img  src="image/002.jpg"/><span>传奇霸业</span></a>
							</div>
							<div class="gamesImg1">
							     <a href="#"><img  src="image/0021.jpg"/><span>极品坐骑</span></a>
							</div>
							<div class="gamesImg1">
							     <a href="#"><img  src="image/0022.jpg"/><span>琅琊榜</span></a>
							</div>
							<div class="gamesImg1">
							     <a href="#"><img  src="image/0023.jpg"/><span>皇图</span></a>
							</div>
							<div class="gamespic1">
							      <a href="#">变态传奇</a>
								  <a href="#">诸神战记</a>
								  <a href="#">皇图</a>
								  <a href="#">剑踪</a>
								  <a href="#">mu奇迹来了</a>
								  <a href="#">赤月传说</a>	   
					        </div>
				      </div>
					  <div class="gmid">
					        <div class="gamesImg2">
							     <a href="#"><img  src="image/003.jpg" class="jpg"/><span class="sp">植物vs僵尸</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/301.jpg" class="jpg"/><span class="sp">超级玛丽</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/302.jpg" class="jpg"/><span class="sp">神奇四侠</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/303.jpg" class="jpg"/><span class="sp">火线精英</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/304.jpg" class="jpg"/><span class="sp">史上最贱</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/305.gif" class="jpg"/><span class="sp">朵拉</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/306.jpg" class="jpg"/><span class="sp">复仇者联盟</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/307.png" class="jpg"/><span class="sp">消灭星星</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/308.jpg" class="jpg"/><span class="sp">火柴人</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/309.jpg" class="jpg"/><span class="sp">亚当夏娃</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/310.png" class="jpg"/><span class="sp">保卫萝卜</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/311.jpg" class="jpg"/><span class="sp">开心酷跑</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/312.jpg" class="jpg"/><span class="sp">一刀999</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/313.jpg" class="jpg"/><span class="sp">baby推荐</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/314.jpg" class="jpg"/><span class="sp">男人必玩</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/315.jpg" class="jpg"/><span class="sp">复古传奇</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/316.gif" class="jpg"/><span class="sp">炫酷坐骑</span></a>
							</div>
							<div class="gamesImg2">
							     <a href="#"><img  src="image/317.jpg" class="jpg"/><span class="sp">绝世神器</span></a>
							</div>
				      </div>
					  <div class="gright">
					        <p>热门游戏排行榜</p>
							<div class="gamesImg3">
							     <a href="#"><img  src="image/004.jpg"/><span>一刀一级</span></a>
							</div>
							<div class="gamesImg3">
							     <a href="#"><img  src="image/401.jpg"/><span>机甲战机</span></a>
							</div>
							<div class="gamesImg3">
							     <a href="#"><img  src="image/402.jpg"/><span>传奇盛世</span></a>
							</div>
							<div class="gamesImg3">
							     <a href="#"><img  src="image/403.jpg"/><span>莽荒纪</span></a>
							</div>
							<div class="gamesImg3">
							     <a href="#"><img  src="image/404.jpg"/><span>女神称帝</span></a>
							</div>
							<div class="gamesImg3">
							     <a href="#"><img  src="image/405.jpg"/><span>郡主力荐</span></a>
							</div>
				      </div>
				</div>
				<div class="clear"></div> 
		  </div>
		  <div id="space"></div>
		  <div class="joke">
		        <div class="videoBox">
				      <div class="vbleft">
					        <a href="#">轻松一刻</a>
					  </div>
					  <div class="vbmid">							
					        <a href="#">哈哈爆笑</a>
							<a href="#">美女图片</a>
							<a href="#">搞笑动态图</a>
							<a href="#">搞笑视频</a>
					   </div>
					   <div class="vbright">
							<a href="#">更多好笑爆料»</a>			  
					   </div>					    
				</div> 
				<div class="clear"></div> 
				<div class="picBox"> 
				     <div class="pic">
				      <a href="#"><img src="image/501.jpg" /></a>
					  <a href="#"><span class="pic1">还能不能一起愉快的坐车了</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/502.jpg" /></a>
					  <a href="#"><span class="pic1">菇凉你好像忘记了什么</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/503.png" /></a>
					  <a href="#"><span class="pic1">妹子让我激动了一夜</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/504.jpg" /></a>
					  <a href="#"><span class="pic1">有个这样的闺蜜就好好珍惜吧</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/505.png" /></a>
					  <a href="#"><span class="pic1">终于单身狗爆发了</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/506.png" /></a>
					  <a href="#"><span class="pic1">女同事就是这么乐于助人！</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/507.png" /></a>
					  <a href="#"><span class="pic1">妹子，在这做那事好么？</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/508.png" /></a>
					  <a href="#"><span class="pic1">我擦，路过此地吓尿了！</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/509.png" /></a>
					  <a href="#"><span class="pic1">我的小心脏，简直不忍直视！</span></a>
				    </div>
					<div class="pic">
				      <a href="#"><img src="image/510.jpg" /></a>
					  <a href="#"><span class="pic1">应该又是不看脸很美好的系列</span></a>
				    </div>
				</div> <div class="clear"></div> 
		  </div>
	</div>
	<div id="space"></div>
	<div id="footer">
	     <div class="fnav auto">
		       <ul>
			         <li><h1>实用工具</h1>
					       <a href="#">火车票查询</a>
						   <a href="#">交通违章</a>
						   <a href="#">周公解梦</a>
						   <a href="#">万年历</a>
						   <a href="#">星座运程</a>
						   <a href="#">快递查询</a>
						   <a href="#">特价机票</a>
						   <a href="#">免费起名</a>
						   <a href="#">天气预报</a>
					 </li>
					 <li><h1>常用软件</h1>
					       <a href="#">美图秀秀</a>
						   <a href="#">微信网页版</a>
						   <a href="#">移动建站</a>
						   <a href="#">暴风影音</a>
						   <a href="#">搜狗拼音</a>
						   <a href="#">搜狗浏览器</a>
						   <a href="#">电脑管家</a>
						   <a href="#">搜狗号码通</a>
						   <a href="#">腾讯QQ</a>
					 </li>
					 <li><h1>游戏专题</h1>
					       <a href="#">传奇霸业</a>
						   <a href="#">琅琊榜</a>
						   <a href="#">剑踪</a>
						   <a href="#">花千骨</a>
						   <a href="#">皇图</a>
						   <a href="#">mu奇迹来了</a>
						   <a href="#">赤月传说</a>
						   <a href="#">大战神</a>
						   <a href="#">传奇盛世</a>
					 </li>
					 <li><h1>安卓应用</h1>
					       <a href="#">梦幻西游</a>
						   <a href="#">流量宝</a>
						   <a href="#">消消熊</a>
						   <a href="#">暴力摩托</a>
						   <a href="#">9块9包邮</a>
						   <a href="#">PPTV</a>
						   <a href="#">新仙剑奇侠</a>
						   <a href="#">同程旅游</a>
						   <a href="#">虾米音乐</a>
					 </li>
			   </ul>
			   <div class="clear"></div> 
			   <p>
			         <a href="#">关于我们&nbsp;&nbsp;</a><span>|</span>&nbsp;&nbsp;  
					 <a href="#">意见反馈&nbsp;&nbsp;</a><span>|</span>&nbsp;&nbsp;
					 <a href="#">免责声明&nbsp;&nbsp;</a><span class="copyright">Copyright© 2015 Sogou.com. All Rights Reserved.</span>
					 <a href="#">京ICP证050897号</a>
			   </p>
		  </div>  
    </div>
</body>
</html>