html,body{
    margin:0;
    padding:0;
    overflow:auto;
}
/*body{*/
/*background:url(images/body_bg.jpg) 0px 0px repeat-x #000;*/
/*}*/
.main_bg{
    /*background:url(images/main_bg.jpg) top center no-repeat;*/
    height:1000px;
    background: #ccc;
}
.main{
    width:1000px;
    height:1000px;
    position:relative;
    margin:0 auto;
}
.num_mask{
    /*background:url(images/num_mask.png) 0px 0px no-repeat;*/
    height:267px;
    width:568px;
    background: yellow;
    position:absolute;
    left:50%;
    top:287px;
    margin-left:-284px;
    z-index:9;
    opacity: .5;
}
.num_box{
    height:450px;
    width:568px;
    /*position:absolute;
    left:50%;top:340px;*/
    position: relative;
    left: 50%;
    top: 287px;
    margin-left:-284px;
    z-index:999;
    overflow:hidden;
    text-align:center;
}
.num{
    background:url(../images/num.png) 50% -20px repeat-y;
    width:181px;
    height:265px;
    float:left;
    margin-right:6px;
    background-position-y: 0;
}
.btn{
    background:url(../images/btn_start.png) 0px 0px no-repeat;
    width:264px;
    height:89px;
    position:absolute;
    left:50%;
    bottom:50px;
    margin-left:-132px;
    cursor:pointer;
    clear:both;
}
#res{
    width: 200px;
    height: 50px;
    background: red;
    position: absolute;
    left: 50%;
    top: 150px;
    margin-left: -100px;
}
#marquee,#marquee li {
    margin:0;
    padding:0;
    list-style:none;
}
#marquee {
    overflow: hidden;
    position:absolute;
    left: 50%;
    bottom: 100px;
    width:500px;
    height:200px;
    margin-left: -250px;
    background: #fff;
    border-radius: 10px;
}
#marquee p {
    padding:5px;
    white-space: nowrap;
    color:#000;
    font-size: 14px;
    line-height: 20px;
}
