<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>产品浏览页</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/detail.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/detail.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<nav>
					<ul>
						<li class="back"><a href="#"></a></li>
						<li class="home"><a href="#"></a></li>
						<!--<li><a href="#" class="color3"></a></li>-->
					</ul>
				</nav>
			</header>
			<!--main-->
			<div id="main">
				<div class="product">
					<p class="img-wrap"><img src="../../image/detail/detail.png"/></p>
					<p class="title1">香飘飘奶茶 红豆30杯装 整箱 早餐奶 小饿小困 喝点香飘飘 </p>
					<p class="title2">口味 红豆味 30杯*1箱</p>	
					<p class="score">积分&nbsp;:&nbsp;<span>3500</span></p>
				</div>
				<div class="tips">*该商品享受会员等级优惠</div>
				<div class="nums">已选:<span>x</span><span class="nums-total">1</span></div>
				<div class="address">填写地址</div>
				<div class="drag">上拉查看图文详情</div>
				<!--<div class="detail-mask">
					
				</div>-->
				<!--填写地址-->
				<!--<div class="address-fill">
					<p class="title">配送至<span class="close">X</span></p>
					<ul class="clearfix">
						<li>上海市徐汇区越界28号608</li>	
					</ul>
					<div class="create-address">
						新建地址
					</div>
				</div>-->
				<!--填写地址end-->
				<!--已选-->
					<!--<div class="nums-select">
						<div class="shop-show"><img src="../../image/detail/detail_num.png"/></div>
						<div class="shop-detail">
							<p class="shop-score">积分：<span>5000</span></p>
							<p class="shop-num">商品编号<span>445566</span></p>
							<span class="close">X</span>
						</div>
						<div class="count">
							<span class="count-sub">-</span>
							<input type="text" value="1" class="count-result" />
							<span class="count-add">+</span>
						</div>
						<div class="behavior">
							<a href="javascript:;" class="cart">加入购物车</a><a href="javascript:;" class="exchange">立即兑换</a>
						</div>
					</div>-->
				<!--已选end-->
			</div>
			<footer id="footer">
				<nav>
					<ul>
						<li class="collect"><a href="#"></a></li>
						<li class="cart"><a href="#"></a></li>
						<li class="shopping"><a href="#"></a></li>
						<li class="exchange"><a href="#"></a></li>
					</ul>
				</nav>
			</footer>
			
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
