<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>产品浏览页</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/detail.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/detail.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/dropload.css"/>
		<!--<link rel="stylesheet" type="text/css" href="/积分商城页面/css/idangerous.swiper.css"/>-->
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<nav>
					<ul>
						<li class="back"><a href="javascript:window.history.go(-1);" ></a></li>
						<li class="home"><a href="/积分商城页面/views/index/"></a></li>
						<!--<li><a href="#" class="color3"></a></li>-->
					</ul>
				</nav>
			</header>
			<!--main-->
			<div id="main">
				<div class="top">
					<div class="product">
						<p class="img-wrap"><img src="/积分商城页面/image/detail/detail.png"/></p>
						<p class="title1">香飘飘奶茶 红豆30杯装 整箱 早餐奶 小饿小困 喝点香飘飘 </p>
						<p class="title2">口味 红豆味 30杯*1箱</p>	
						<p class="score">积分&nbsp;:&nbsp;<span>3500</span></p>
					</div>
					<div class="tips">*该商品享受会员等级优惠</div>
					<div class="nums">已选:<span>x</span><span class="nums-total">1</span></div>
					<!--<div class="address">填写地址: <span>上海市徐汇区越界28号608上海市徐汇区越界28号608</span></div>-->
					<!--<div class="address">添加地址：</div>-->
					<div class="address">
						<p class="p0">张三 <span class="mobile">1500****1213</span></p>
						<p class="p1">上海长宁区渔北路1212号603渔北03</p>
					</div>
					<div class="drag">上拉查看图文详情</div>
				</div>
				<!--<div class="preloader"> Loading... </div>-->
				<div class="down">
					<div class="drag-up">下拉回到详情页主页</div>
					<img src="/积分商城页面/image/detail/img.jpg"/>
				</div>
				
				
				
				
				
				<!--<div class="detail-mask">
					
				</div>-->
				<!--填写地址-->
				<div class="address-fill">
					<p class="title">配送至<span class="close">X</span></p>
					<ul class="clearfix">
						<li>
							<p class="p0">张三 <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号60路1212号60路1212号603渔北03路1212号60</p>
						</li>	
						<li>
							<p class="p0">张三 <span class="mobile">1500****1213</span></p>
							<p class="p1">路1212号60上海长宁区渔北路1212号路1212号60603渔北03路1212号60</p>
						</li>	
						<li>
							<p class="p0">张三 <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔北03路1212号60路1212号60路1212号60路1212号60路1212号60</p>
						</li>	
						<li>
							<p class="p0">张三 <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔北03路1212号60路1212号60路1212号60路1212号60路1212号60</p>
						</li>	
						<li>
							<p class="p0">张三 <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔路1212号60路1212号60路1212号60路1212号6003</p>
						</li>	
						<li>
							<p class="p0">张三 <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔路1212号60路1212号60路1212号60路1212号6003</p>
						</li>
						<li>
							<p class="p0">张三 <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔路1212号60路1212号60路1212号60路1212号6003</p>
						</li>
						<li>
							<p class="p0">张三 <span class="mobile">1500****1213</span></p>
							<p class="p1">上海长宁区渔北路1212号603渔路1212号60路1212号60路1212号60路1212号6003</p>
						</li>
					</ul>
					<div class="create-address">
						<a href="/积分商城页面/views/user/address/create.html">新建地址</a>
					</div>
				</div>
				<!--填写地址end-->
				<!--已选-->
					<div class="nums-select">
						<div class="shop-show"><img src="../../image/detail/detail_num.png"/></div>
						<div class="shop-detail">
							<p class="shop-score">积分：<span>5000</span></p>
							<p class="shop-num">商品编号<span>445566</span></p>
							<span class="close">X</span>
						</div>
						<div class="count">
							<span class="count-sub">-</span>
							<input type="text" value="1" class="count-result" />
							<span class="count-add">+</span>
						</div>
						<div class="behavior">
							<a href="javascript:;" class="cart">加入购物车</a><a href="javascript:;" class="exchange">立即兑换</a>
						</div>
					</div>
				<!--已选end-->
				<div class="settlement-carry-popover">
					<div class="settlement-carry-mask">
						
					</div>
					<div class="settlement-carry-popover-content">
						<p class="title">您是否确定支付相应积分来完成本次交易 ？</p>
						<p class="quantity">购买商品数量： <span>1</span>件</p>
						<p class="score-total">总积分： <span>5000</span>分</p>
						<p class="score-discount">会员折扣： 享受<span>10</span>%优惠</p>
						<p class="score-current">应付积分：<span>4920</span>分</p>
						<p class="blank"></p>
						<p class="pay"><button class="ok"><a href="/积分商城页面/views/settlement/settlement-success.html">确认支付</a></button><button class="cancel">取消支付</button></p>
					</div>
				</div>
			</div>
			<footer id="footer">
				<nav>
					<ul>
						<li class="collect"><a href="/积分商城页面/views/collect/"></a></li>
						<li class="cart"><a href="/积分商城页面/views/cart/"></a><span>12</span></li>
						<li class="shopping"><a href="javascript:;"></a></li>
						<li class="exchange"><a href="javascript:;"></a></li>
					</ul>
				</nav>
			</footer>
			
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/dropload.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/preLoad.js" type="text/javascript" charset="utf-8"></script>
		<script>
			$(function(){
				/*
				 * 上拉查看图文详情
				 */
				var oBody = $('body')[0];
				var oDown = $('.down')[0];
			  	var startX = 0;
				var startY = 0;
				var diffX = 0;
				var diffY = 0;
				var flag = true;
				oBody.addEventListener("touchstart",function(e){
					var touches = e.touches;
					startX = touches[0].pageX;
					startY = touches[0].pageY;
				},false);
				oBody.addEventListener("touchmove",function(e){
					var touches = e.touches;
					diffY = startY - touches[0].pageY;
					diffX = startX - touches[0].pageX;
				},false);
				oBody.addEventListener("touchend",function(e){
					if(flag && document.body.scrollHeight - document.body.clientHeight <= document.body.scrollTop + 14 && diffY > 100){
						$(".top").slideUp(200);
						$('.down').css('display','block');
						$(document).scrollTop(screen.height);
						flag = false;
					}else if(!flag && $(document).scrollTop() < 10 && diffY < -100){
						$(".top").slideDown(200,function(){
							$('.down').css('display','none');
						});
						
						flag = true;
					}
				},false);
			});
			
		
  </script>
	</body>
</html>
