<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>收藏夹</title>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/cart.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/cart.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">收藏夹</p>
				<p class="back"><a href="/积分商城页面/views/index/">返回</a></p>
			</header>
			<!--main-->
			<div id="main">
				<div class="cart-content">
					<div class="cart-tips">
						<p>您的收藏夹是空的，您可以继续在商城逛逛~。</p>
						<a href="#">返回商城</a>
					</div>
				</div>
				<div class="guess-like">
					<div class="header clearfix">
						<span class="title">猜你喜欢</span>						
					</div>
					<ul class="guess-like-content clearfix">
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
					</ul>
					
				</div>			
			</div>
			
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
