<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>收藏夹</title>
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/boost.min.css"/>
		<link rel="stylesheet" href="/积分商城页面/css/reset.css" />
		<!--<link rel="stylesheet/less" type="text/css" href="/积分商城页面/css/cart.less"/>-->
		<link rel="stylesheet" href="/积分商城页面/css/cart.css" />
		<link rel="stylesheet" type="text/css" href="/积分商城页面/css/swiper.min.css"/>
	</head>
	<body>
		<div class="container-index clearfix">
			<!--首页标题-->
			<header id="header">
				<p class="title">收藏夹</p>
				<p class="back"><a href="/积分商城页面/views/index/">返回</a></p>
			</header>
			<!--main-->
			<div id="main">
				<ul class="cart-content blend-checkbox-red" data-blend-widget="checkbox" data-blend-checkbox='{"type":"group"}'>
					<li class="cart-list">
						<div class="checkbox">
							<span class="blend-checkbox blend-checkbox-default blend-checkbox-checked"></span>
						</div>
						<div class="cart-list-item">
							<div class="item-img">
								<img src="../../image/index/首页切图_05.png"/>
							</div>
							<div class="other">
								<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
								<p class="score">积分: <span>50000</span></p>
								<p class="go-exchange"><button>立即兑换</button></p>
							</div>
						</div>
					</li>
					<li class="cart-list">
						<div class="checkbox">
							<span class="blend-checkbox blend-checkbox-default blend-checkbox-checked"></span>
						</div>
						<div class="cart-list-item">
							<div class="item-img">
								<img src="../../image/index/首页切图_05.png"/>
							</div>
							<div class="other">
								<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
								<p class="score">积分: <span>50000</span></p>
								<p class="go-exchange"><button>立即兑换</button></p>
							</div>
						</div>
					</li>
					<li class="cart-list">
						<div class="checkbox">
							<span class="blend-checkbox blend-checkbox-default blend-checkbox-checked"></span>
						</div>
						<div class="cart-list-item">
							<div class="item-img">
								<img src="../../image/index/首页切图_05.png"/>
							</div>
							<div class="other">
								<p class="title">香飘飘 巧克力口味30杯礼盒装</p>
								<p class="score">积分: <span>50000</span></p>
								<p class="go-exchange"><button>立即兑换</button></p>
							</div>
						</div>
					</li>
					<li class="total">
						<div class="checkbox">
							<span class="blend-checkbox blend-checkbox-square blend-checkbox-all"></span>
						</div>
						<div class="total-content">
							<p class="all">全选</p>
							<p class="cancel">取消关注</p>
							
						</div>
					</li>
				</ul>
				<div class="guess-like">
					<div class="header clearfix">
						<span class="title">猜你喜欢</span>						
					</div>
					<ul class="guess-like-content clearfix">
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
						<li class="first">
							<p class="img-wrap"><img src="../../image/cart/购物车（无货）_03.png"/></p>
							<p class="title1">麦尓思顿 </p>
							<p class="title2">精品咖啡糖条（12支）</p>
							<p class="score">积分:<span>3500</span></p>
							<a href="#" class="link"></a>
						</li>
				
					</ul>
					
				</div>			
			</div>
		</div>
		
		
		<script src="/积分商城页面/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/less.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/boost.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/积分商城页面/lib/rem.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
